{{extend 'layout.html'}} 
{{block head}}
<style type="text/css">

    .No_GPS .double, .No_GPS .date, .No_GPS .string, .No_GPS .time
    {
        margin-right: 2cm;
        width: 4cm;
    }
    
    .No_GPS .generic-widget
    {
    	  margin-right: 2cm;
        width: 4.4cm;
    }

    .GPS .integer, .GPS .double
    {
        width: 2cm;
    }
    
    .GPS .generic-widget
    {
        width: 2.5cm;
    }

    .Centrar
    {
        text-align: center;
    }

    .CentrarV
    {
  		vertical-align:middle;
	  }
   
    .FlotaIzquierda
    {
        float: left;
    }

</style>
{{end}}

<form action="" enctype="multipart/form-data" method="post">
	<input type="hidden"  name="_formname" value="formaEspecieHTML"/>
	<fieldset>
		<legend>
		Registros adicionales: especies invasoras
		</legend>
		<table class="No_GPS">
			<tr>
				<td rowspan="2" class="CentrarV">
					<div>
						<label for="tabla_conglomerado_muestra_id">Conglomerado</label>
					</div>
					<div>
						<select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
							<option value=""/>
							{{for conglomerado in listaConglomerado:}}
								<option value="{{=conglomerado.id}}">
									{{=conglomerado.nombre}}
								</option>
							{{pass}}
						</select>
					</div>
				</td>
				<td>
					<div class="FlotaIzquierda" style="padding-right:10px;">
						<label for="tabla_dentro_conglomerado">Dentro del conglomerado</label>
					</div>
					<div>
						<input class="boolean" name="dentro_fuera_conglomerado" id="tabla_dentro_conglomerado" type="radio" value="dentro"/>
					</div>
				</td>
				<td rowspan="2" class="CentrarV">
					<div>
						<label for="tabla_tecnico">Técnico</label>
					</div>
					<div>
						<input class="string obligatorio" name="tecnico" id="tabla_tecnico" type="text" value=""/>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="FlotaIzquierda" style="padding-right:17px">
						<label for="tabla_fuera_conglomerado">Fuera del conglomerado</label>
					</div>
					<div>
						<input class="boolean" name="dentro_fuera_conglomerado" id="tabla_fuera_conglomerado" type="radio" value="fuera"/>
					</div>
				</td>
			</tr>	
			<tr>
				<td>
					<div>
						<label for="tabla_fecha">Fecha</label>
					</div>
					<div>
						<input class="date obligatorio" name="fecha" id="tabla_fecha" type="text" value=""/>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_hora">Hora (24 horas)</label>
					</div>
					<div>
						<input class="time obligatorio" name="hora" id="tabla_hora" type="text" value=""/>
					</div>
				</td>
				<td>
				</td>
			</tr>
		</table>
    <hr/>
    <table class="GPS">
    	<tr>
    		<th colspan="3", class="Centrar">
          Latitud
        </th>
        <th colspan="3", class="Centrar">
          Longitud
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
      </tr>
			<tr>
            	<th class="Centrar">
            		<label for="lat_grado">Grado</label>
            	</th>
            	<th class="Centrar">
            		<label for="lat_min">Minuto</label>
            	</th>
            	<th class="Centrar">
            		<label for="lat_seg">Segundo</label>
            	</th>
            	<th class="Centrar">
            		<label for="lon_grado">Grado</label>
            	</th>
            	<th class="Centrar">
        			<label for="lon_min">Minuto</label>
            	</th>
            	<th class="Centrar">
            		<label for="lon_seg">Segundo</label>
            	</th>
            	<th class="Centrar">            	    
            		<label for="tabla_elipsoide">Datum</label>
            	</th>
            	<th class="Centrar">
            		<label for="tabla_altitud">Altitud (m)</label>
            	</th>
            	<th class="Centrar">
            		<label for="tabla_gps_error">Error (m)</label>
            	</th>
            </tr>
            <tr>
            	<td>
            		<input class="integer obligatorio lat_grado" name="lat_grado" id="tabla_lat_grado" type="text"/>
            	</td>
            	<td>
            		<input class="integer obligatorio min" name="lat_min" id="tabla_lat_min" type="text"/>
            	</td>
            	<td>
            		<input class="double obligatorio seg" name="lat_seg" id="tabla_lat_seg" type="text"/>
            	</td>
            	<td>
            		<input class="integer obligatorio lon_grado" name="lon_grado" id="tabla_lon_grado" type="text"/>
            	</td>
            	<td>
        			<input class="integer obligatorio min" name="lon_min" id="tabla_lon_min" type="text"/>
            	</td>
            	<td>
            		<input class="double obligatorio seg" name="lon_seg" id="tabla_lon_seg" type="text"/>
            	</td>
            	<td>
        			  <select class="generic-widget obligatorio" name="elipsoide" id="tabla_elipsoide">
						      <option value=""/>
						      {{for elipsoide in listaElipsoide:}}
							      <option value="{{=elipsoide.nombre}}">
								      {{=elipsoide.nombre}}
							      </option>
						      {{pass}}
					      </select>
            	</td>
            	<td>
            		<input class="double obligatorio altitud" name="altitud" id="tabla_altitud" type="text" value=""/>
            	</td>
            	<td>
            	    <input class="double obligatorio error_gps" name="gps_error" id="tabla_gps_error" type="text" value=""/>
            	</td>
            </tr>
    	    </table>
          <hr/>
        <table class="No_GPS">
        	<tr>
				<td rowspan="2" class="CentrarV">
					<div>
						<label for="tabla_conabio_lista">Lista CONABIO invasoras</label>
					</div>
					<div>
						<select class="generic-widget obligatorio" name="conabio_lista" id="tabla_conabio_lista">
							<option value=""/>
							{{for especie in listaConabio:}}
								<option value="{{=especie.nombre}}">
									{{=especie.nombre}}
								</option>
							{{pass}}
						</select>
					</div>
				</td>		
				<td>
					<div class="Nombre FlotaIzquierda" style="padding-right:10px;">
						<input class="boolean" name="hay_nombre_comun" id="tabla_hay_nombre_comun" type="checkbox" value="on"/>
					</div>
					<div class="Nombre FlotaIzquierda" style="padding-right:22px;">
						<label for="tabla_nombre_comun">Nombre común</label>
					</div>
					<div class="FlotaIzquierda">
						<input class="string" name="nombre_comun" id="tabla_nombre_comun" type="text" value=""/>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="Nombre FlotaIzquierda" style="padding-right:10px;">
						<input class="boolean" name="hay_nombre_cientifico" id="tabla_hay_nombre_cientifico" type="checkbox" value="on"/>
					</div>
					<div class="Nombre FlotaIzquierda" style="padding-right:10px;">
						<label for="tabla_nombre_cientifico">Nombre científico</label>
					</div>
					<div class="FlotaIzquierda">
						<input class="string" name="nombre_cientifico" id="tabla_nombre_cientifico" type="text" value=""/>
					</div>
				</td>
			</tr>
			<tr>
        		<td>
          			<div>
            			<label for="tabla_numero_individuos">Número de individuos</label>
          			</div>
          			<div>
            			<select class="generic-widget obligatorio" name="numero_individuos" id="tabla_numero_individuos">
              				<option value=""/>
              				{{for numIndividuos in listaNumIndividuos:}}
                				<option value="{{=numIndividuos.nombre}}">
                  				{{=numIndividuos.nombre}}
                				</option>
              				{{pass}}
            			</select>
          			</div>
        		</td>
        		<td>
        		</td>
      		</tr>
          <tr>
            <td>
              <div>
                <label for="tabla_archivos_invasora_extra">Subir archivos</label>
              </div>
              <div>
                <input class="obligatorio" type="file" id="tabla_archivos_invasora_extra" name="archivos_invasora_extra" multiple/>
              </div>
            </td>
            <td>
            </td>
          </tr>
    	</table>
  	</fieldset>
	<fieldset>
		<label for="tabla_comentario">Observaciones</label>
		<textarea class="text" cols="40" id="tabla_comentario" name="comentario" rows="5"></textarea>
	</fieldset>
	<input type="submit" value="Enviar" class="btn FlotaIzquierda"/>
</form>

<br/>
<br/>

<fieldset>
  <legend>
    Revisión de registros
  </legend>
</fieldset>
{{=grid}}

<!--<h2>Submitted variables</h2>-->
{{#=BEAUTIFY(request.vars)}}

<script>
    $(document).ready
    (
        function()
        {
           /*Cuando el documento se carga, los campos para ingresar nombre están
           escondidos*/
           // La clase Nombre engloba las checkbox y las etiquetas.
           $('.Nombre').hide();

           $('#tabla_nombre_comun').hide();
           $('#tabla_nombre_cientifico').hide();
        }
    )

	/*Fade in de los campos de ingreso de nombre de especie si no se encuentra en
	la lista.*/

    $('#tabla_conabio_lista').change
    (
        function()
        {
            if($(this).val()=="Otros")
            {
            	//Aparecen las casillas y etiquetas
              $('.Nombre').fadeIn();

              $('#tabla_hay_nombre_comun').prop('checked', true);
              $('#tabla_nombre_comun').fadeIn();

    			    $('#tabla_hay_nombre_cientifico').prop('checked', true);
    			    $('#tabla_nombre_cientifico').fadeIn();
            }
            else
            {
              $('#tabla_hay_nombre_comun').prop('checked', false);
              $('#tabla_nombre_comun').fadeOut();

    			    $('#tabla_hay_nombre_cientifico').prop('checked', false);
				      $('#tabla_nombre_cientifico').fadeOut();

				      $('.Nombre').fadeOut();
            }
        }
    )

    /*Fade in/out de los campos de ingreso de nombre común/científico, de acuerdo
    a si se marcó o no la casilla correspondiente*/

    $('#tabla_hay_nombre_comun').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('#tabla_nombre_comun').fadeIn();
            else
                $('#tabla_nombre_comun').fadeOut();
        }
    )

     $('#tabla_hay_nombre_cientifico').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('#tabla_nombre_cientifico').fadeIn();
            else
                $('#tabla_nombre_cientifico').fadeOut();
        }
    )
    
    //Rangos de los campos:

    $('.min').change
    (
        function()
        {
            if($(this).val())
            {
                if($(this).val()<0 || $(this).val()>=60)
                {
                    alert('Los minutos están en el rango de 0 a 59');
                    $(this).val("");
                }
            }
        }
    )

    $('.seg').change
    (
        function()
        {
            if($(this).val())
            {
                if($(this).val()<0 || $(this).val()>=60)
                {
                    alert('Los segundos están en el rango de 0 a 60');
                    $(this).val("");
                }
            }
        }
    )

    $('.lat_grado').change
    (
        function()
        {
            if($(this).val())
            {
                if($(this).val()<13 || $(this).val()>=33)
                {
                    alert('Los grados correspondientes a latitud  están en el rango de 13 a 33');
                    $(this).val("");
                }
            }
        }
    )

    $('.lon_grado').change
    (
        function()
        {
            if($(this).val())
            {
                if(($(this).val()<85|| $(this).val()>119) & ($(this).val()<-119|| $(this).val()>-85))
                {
                    alert('Los grados correspondientes a longitud  están en el rango de 85 a 119 o en el rango -119 a -85');
                    $(this).val("");
                }
                /* if($(this).val()<-119|| $(this).val()>-85)
                {
                    alert('Los grados correspondientes a longitud  están en el rango de -119 a -85');
                    $(this).val("");
                }
                */
            }
        }
    )
    $('.gps_error').change
    (
        function()
        {
            if($(this).val())
            {
                if($(this).val()<0 || $(this).val()>10)
                {
                    alert('El error de precisión está en el rango 0-10');
                    $(this).val("");
                }
            }
        }
    )
    
    $('.altitud').change
    (
        function()
        {
            if($(this).val())
            {
                if($(this).val()<-10 || $(this).val()>5715)
                {
                    alert('La altitud está en el rango -10 a 5715');
                    $(this).val("");
                }
            }
        }
    )


	//Validando, para ello utilizamos la clase "obligatorio":
   	$('form').submit
   	(
   		function()
   		{
   			/*flag es un indicador de que la forma está completa
   			faltanNombres es un indicador de que es necesario que se escriban
   			ya sea el nombre común o el científico de la especia (ésto es cuando
   			la especie no se encuentra en la lista de invasoras), y sin embargo,
   			no se ha hecho.*/
   			flag = true;
   			faltanNombres = false;

   			campos=$('.obligatorio');
   			campos.each(function() 
   			{
  				if(!$(this).val())
  				{
  					 flag = false;
  				}
			});

      //Validando que la fecha esté en formato adecuado para que Web2py no tenga problemas:
      var fechaReg = /^\d{4}\-\d{2}-\d{2}$/;
      campos_fecha=$('.date');
      flag_m = true;
      campos_fecha.each(function() 
      {
        if(!fechaReg.test($(this).val()))
        {
                flag_m = false;
              }
          }
      );

			//Validando los radio-botones
			if(!$('input:radio[name=dentro_fuera_conglomerado]:checked').val())
			{
				flag = false;
				//alert('falta presionar un radio-botón');
			}

			/*Validando: si el nombre de la especie no se encuentra en la lista 
   			CONABIO. entonces:*/
			if($('#tabla_conabio_lista').val()=="Otros")
   		  	{
   			  //Si no se marcó ninguna casilla para ingresar el nombre
   				if(!$('#tabla_hay_nombre_comun').prop('checked') && !$('#tabla_hay_nombre_cientifico').prop('checked'))
   				{
   					flag = false;
   					faltanNombres = true;
   					//alert('caso1');
   				}
   				else if($('#tabla_hay_nombre_comun').prop('checked') && !$('#tabla_nombre_comun').val())
   				/*Si se marcó la casilla de nombre común pero no se escribió
   				nada en el campo subsecuente.*/
   				{
   					flag = false;
   					faltanNombres = true;
   					//alert('caso2');
   				}
   			 	//Si se marcó la casilla de nombre científico pero no se escribió nada en el campo subsecuente.
   				else if($('#tabla_hay_nombre_cientifico').prop('checked') && !$('#tabla_nombre_cientifico').val())
   				{
   					flag = false;
   					faltanNombres = true;
   					//alert('caso3');
   				}
   			}

			if(!flag)
      {
          if(faltanNombres)
            alert('Favor de escribir al menos un nombre (ya sea común científico)');
          else
            alert('Faltó llenar algún campo o subir alguna imagen.');

          	return false;
			}
      else if(!flag_m)
      {
        alert('El formato de fecha es aaaa-mm-dd');
        return false;
      }
   		}
   	) 
</script>
