{{extend 'layout.html'}}

<!--
    #########################################################################
    #########################################################################
    # <Editado para el cliente>
    #########################################################################
    #########################################################################
-->

<center>
    <img src="{{=URL('static', 'logos_header')}}"/>

    <br/>
    <br/>

    <h3>{{=T('Sistema Nacional de Monitoreo de Biodiversidad')}}</h3>
    <h3>{{=T('Bienvenido al Cliente de Captura')}}</h3>
    <h4>{{=T('Elija la sección que desea ingresar de la barra superior')}}</h4>

    <br/>
    <br/>

    <div>
        Recuerde que las siguientes pestañas son obligatorias, independientemente
        de si se encontraron registros o no:
    </div>
    <table>
        <tr>
            <td>
                <ul>
                    <li>Conglomerado</li>
                    <li>Punto de conteo de aves</li>
                    <li>Transectos de especies invasoras y huellas/excretas</li>
                    <li>Material leñoso caído</li>
                    <li>Carbono en el mantillo</li>
                    <li>Árboles pequeños yu arbustos</li>
                    <li>Árboles grandes</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Epífitas</li>
                    <li>Incendios</li>
                    <li>Plagas</li>
                    <li>Impactos actuales</li>
                    <li>Información de trampa cámara</li>
                    <li>Información de grabadora</li>
                </ul>
            </td>
        </tr>
    </table>

    <br/>
    <br/>
    
    <img src="{{=URL('static', 'logos_footer')}}"/>
</center>

<!--
    #########################################################################
    #########################################################################
    # </Editado para el cliente>
    #########################################################################
    #########################################################################
-->

