{{extend 'layout.html'}}

<!--
    #########################################################################
    #########################################################################
    # <Editado para el cliente>
    #########################################################################
    #########################################################################
-->

<center>
    <img src="{{=URL('static', 'logos_header')}}"/>
</center>

<br/>
<br/>

<center>
	<h3>{{=T('Bienvenido al Sistema Nacional de Monitoreo de Biodiversidad')}}</h3>

	<h4>{{=T('Elija la sección que desea ingresar de la barra superior')}}</h4>
</center>

<br/>
<br/>

<center>
    <img src="{{=URL('static', 'logos_footer')}}"/>
</center>

<!--
    #########################################################################
    #########################################################################
    # </Editado para el cliente>
    #########################################################################
    #########################################################################
-->
