{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

    .Tabla .generic-widget, .Estatica
    {
        margin-right: 2cm;
        width: 4.4cm;
    }
    
    .FlotaIzquierda
    {
        float: left;
    }

    .CentrarV
    {
  		vertical-align:middle;
	}

</style>
{{end}}

<form action="" enctype="multipart/form-data" method="post">
    <input type="hidden" name="_formname" value="formaArchivosGrabadoraHTML"/>
    <fieldset>
        <legend>
            Localización de la grabadora
        </legend>
        <table class="Tabla">
        	<tr>
        		<td>
                    <div>
                        <label for="tabla_conglomerado_muestra_id">Conglomerado</label>
                    </div>
                    <!-- La clase estática se usa para que, en tablas de un sólo
                    renglón, no se modifique el tamaño de la misma cuando se 
                    desaparecen algunos campos-->
                    <div class="Estatica">
                        <!--este campo (y el de sitio), en realidad sólo sirven 
                        para encontrar con AJAX las grabadoras que han sido declaradas
                        en el sitio elegido. Al enviar la forma al controlador,
                        se utilizará para registrar los archivos, únicamente el 
                        id de la grabadora (de la dropdown generada mediante AJAX)-->
                        <select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
                            <option value=""/>
                            {{for conglomerado in listaConglomerado:}}
                                <option value="{{=conglomerado.id}}">
                                    {{=conglomerado.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>                
                <td>
                	<!-- Las clases InfoSitio e InfoGrabadora sirven para esconder los campos (ver JS abajo)-->
                	<div class="InfoSitio Estatica">
                    	<div>
                        	<label for="tabla_sitio_muestra_id">Sitio</label>
                    	</div>
                    	<!-- El ID es para cambiar la lista de sitios asociados a un conglomerado dinámicamente, utilizando AJAX-->
                    	<div id="shadow_clone">
                        	<select class="generic-widget" name="sitio_muestra_id" id="tabla_sitio_muestra_id">
                            	<option value=""/>
                        	</select>
                    	</div>
                	</div>
                </td>
                <td>
                	<div class="InfoGrabadora Estatica">
                		<div>
                        	<label for="tabla_grabadora_id">Grabadora</label>
                    	</div>
                    	<!-- El ID es para cambiar la lista de sitios asociados a un conglomerado dinámicamente, utilizando AJAX-->
                    	<div id="shadow_clone_2">
                        	<select class="generic-widget" name="grabadora_id" id="tabla_grabadora_id">
                            	<option value=""/>
                        	</select>
                    	</div>
                	</div>
                </td>
        	</tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>
            Subir archivos de audio
        </legend>
    	<div>
    		<div class="FlotaIzquierda" style="padding-right:10px;">
    			<label for="tabla_es_audible">Audibles</label>
    		</div>
    		<div class="FlotaIzquierda" style="padding-right:30px;">
    			<input class="boolean" name="es_audible_ultrasonico" id="tabla_es_audible" type="radio" value="audible"/>
    		</div>
    		<div class="FlotaIzquierda" style="padding-right:10px;">
    			<label for="tabla_es_ultrasonico">Ultrasónicos</label>
    		</div>
    		<div >
    			<input class="boolean" name="es_audible_ultrasonico" id="tabla_es_ultrasonico" type="radio" value="ultrasonico"/>
    		</div>
    	</div>
    	<hr/>
    	<div>
    		<input class="obligatorio" type="file" id="tabla_archivos_grabadora" name="archivos_grabadora" multiple/>
    	</div>
    </fieldset>
    <br/>
    <input type="submit" value="Enviar" class="btn FlotaIzquierda"/>
</form>

<script>

    $(document).ready
    (
        function()
        {
           /*Cuando el documento se carga, tanto el campo de sitio como el de grabadora están escondidos*/
           $('#conglomerado_muestra_id').val("");
           $('.InfoGrabadora, .InfoSitio').hide();
           alert('Si no se cargan todos los archivos al mismo tiempo, por favor, súbalos por partes, asignándolos siempre a la misma grabadora');
        }
    )

    //AJAX para llenar la combobox con los sitios existentes al elegir el conglomerado
    $('#tabla_conglomerado_muestra_id').change
    (
        function()
        {
            $('#tabla_sitio_muestra_id').remove();

            //ajax es una función de Web2py que simplifica la función homónima de JQuery
            //recibe el URL destino, los nombres de los campos que se enviarán y el ID
            // del elemento donde se insertará la respuesta
            ajax("{{=URL('asignarSitios')}}", ['conglomerado_muestra_id'], 'shadow_clone');

            /* Finalmente, si se selecciona un conglomerado (no ""), aparece el campo de sitio.*/

            if($(this).val())
            {
                $('.InfoSitio').fadeIn();

            }
            else
            {
            	/* Si se apaga la casilla de sitio, también se debe apagar la de grabadora
            	y, además, se deben resetear los valores de esta úlima*/
            	$('.InfoGrabadora, .InfoSitio').hide();
            	ajax("{{=URL('asignarGrabadoras')}}", ['sitio_muestra_id'], 'shadow_clone_2');
            }
        }
    );

    //AJAX para llenar la combobox con las grabadoras declaradas al elegir un sitio
 	$('#shadow_clone').on('change', '#tabla_sitio_muestra_id', function ()
    {
        $('#grabadora_id').remove();

        //ajax es una función de Web2py que simplifica la función homónima de JQuery
        //recibe el URL destino, los nombres de los campos que se enviarán y el ID
        // del elemento donde se insertará la respuesta
        ajax("{{=URL('asignarGrabadoras')}}", ['sitio_muestra_id'], 'shadow_clone_2');
        /* Finalmente, si se selecciona un sitio (no ""), aparece el campo de grabadora.*/

        if($(this).val())
        {
            $('.InfoGrabadora').fadeIn();
        }
        else
            $('.InfoGrabadora').fadeOut();
    }
    );

    //Para terminar, hay que activar el AJAX anterior en caso de que se cambie el
    //conglomerado:



    //Validando, para ello utilizamos la clase "obligatorio":
    $('form').submit
    (
       function()
       {
            flag =true;
            campos=$('.obligatorio');
            campos.each(function() 
            {
                if(!$(this).val())
                {
                    flag = false;
                }
            }
            );

            //Validando que la fecha esté en formato adecuado para que Web2py no tenga problemas:
            var fechaReg = /^\d{4}\-\d{2}-\d{2}$/;
            campos_fecha=$('.date');
            flag_m = true;
            campos_fecha.each(function() 
            {
                if(!fechaReg.test($(this).val()))
                {
                   flag_m = false;
                }
             }
            );

            //Sin embargo, como el campo de "sitio_muestra_id" es generado por
            //medio de AJAX; no entra en la validación anterior. Lo tenemos que
            //validar aparte:
            if(!$('#shadow_clone').find('select:first').val())
            {
                flag = false;
                //alert('Falta llenar el sitio');
            }

            //Lo mismo para el campo de "grabadora_id":
            if(!$('#shadow_clone_2').find('select:first').val())
            {
                flag = false;
                //alert('Falta llenar la grabadora');
            }

            //Validando los radio-botones
			if(!$('input:radio[name=es_audible_ultrasonico]:checked').val())
			{
				flag = false;
				//alert('falta presionar un radio-botón');
			}


            if(!flag)
            {
                alert('Faltó llenar un campo o subir alguna imagen');
                return false;
            }
            else if(!flag_m)
            {
                alert('El formato de fecha es aaaa-mm-dd');
                return false;
            }
        }
    );

</script>
