{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

    .Tabla .double, .Tabla .string, .Tabla .integer
    {
        margin-right: 2cm;
        width: 4cm;
    }
    
    .Tabla .generic-widget
    {
    	margin-right: 2cm;
        width: 4.4cm;
    }
    
    #campoEspecial
    {
    	padding-top: 10px;
    	padding-bottom: 10px;
    }

    .FlotaIzquierda
    {
        float: left;
    }

</style>
{{end}}

<form action="" enctype="multipart/form-data" method="post">
	<input type="hidden"  name="_formname" value="formaConteoAveHTML"/>
	<fieldset>
		<legend>
		Conteo de Aves
		</legend>
		<table class="Tabla">
			<tr>
				<td>
					<div>
						<label for="tabla_conglomerado_muestra_id">Conglomerado</label>
					</div>
					<div>
					<!--este campo, en realidad sólo sirve para encontrar
            		con AJAX los transectos declarados asociados al conglomerado
            		elegido. Al enviar la forma al controlador, se utilizará
            		para guardar el registro de la especie invasora únicamente el
            		id del transecto (de la dropdown generada mediante AJAX)-->
						<select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
							<option value=""/>
							{{for conglomerado in listaConglomerado:}}
								<option value="{{=conglomerado.id}}">
									{{=conglomerado.nombre}}
								</option>
							{{pass}}
						</select>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_sitio_muestra_id">Sitio</label>
					</div>
					<!-- El ID es para cambiar la lista de sitios asociados a un conglomerado dinámicamente, utilizando AJAX-->
					<div id="shadow_clone">
						<select class="generic-widget" name="sitio_muestra_id" id="tabla_sitio_muestra_id">
							<option value=""/>
						</select>
					</div>
				</td>
				<!-- el siguiente div guardará la información del punto de conteo de aves declarado en determinado conglomerado
				y sitio, si es que existe-->
				<td>
					<div id="shadow_clone_2">
						<input type='hidden' name='punto_conteo_aves_id' id='tabla_punto_conteo_aves_id' value=''/>
                    </div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="FlotaIzquierda" style="padding-right:10px;">
						<input class="boolean" name="hay_nombre_comun" id="tabla_hay_nombre_comun" type="checkbox" value="on"/>
					</div>
					<div class="FlotaIzquierda" style="padding-right:22px;">
						<label for="tabla_nombre_comun">Nombre común</label>
					</div>
					<div class="FlotaIzquierda">
						<input class="string" name="nombre_comun" id="tabla_nombre_comun" type="text" value=""/>
					</div>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="FlotaIzquierda" style="padding-right:10px;">
						<input class="boolean" name="hay_nombre_cientifico" id="tabla_hay_nombre_cientifico" type="checkbox" value="on"/>
					</div>
					<div class="FlotaIzquierda" style="padding-right:10px;">
						<label for="tabla_nombre_cientifico">Nombre científico</label>
					</div>
					<div class="FlotaIzquierda">
						<input class="string" name="nombre_cientifico" id="tabla_nombre_cientifico" type="text" value=""/>
					</div>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td colspan="2">
    				<div class="FlotaIzquierda" style="padding-right:10px;">
    					<label for="tabla_es_visual">Observación visual</label>
    				</div>
    				<div class="FlotaIzquierda" style="padding-right:30px;">
    					<input class="boolean" name="es_visual" id="tabla_es_visual" type="checkbox" value="on"/>
    				</div>
    				<div class="FlotaIzquierda" style="padding-right:10px;">
    					<label for="tabla_es_sonora">Observación sonora</label>
    				</div>
    				<div >
    					<input class="boolean" name="es_sonora" id="tabla_es_sonora" type="checkbox" value="on"/>
    				</div>
    			</td>
    			<td>
    			</td>
    		</tr>
    		<tr>
    			<td>
    				<div>
                        <label for="tabla_numero_individuos">Número de individuos</label>
                    </div>
                    <div>
                        <input class="integer obligatorio" name="numero_individuos" id="tabla_numero_individuos" type="text" value=""/>
                    </div>
    			</td>
    			<td>
                    <div>
                        <label for="tabla_distancia_aproximada">Distancia aproximada (m)</label>
                    </div>
                    <div>
                        <input class="double obligatorio" name="distancia_aproximada" id="tabla_distancia_aproximada" type="text" value=""/>
                    </div>
                </td>
    			<td>
    			</td>
    		</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>
			Subir archivos
		</legend>
		<div id="campoEspecial">
			<input type="file" class="obligatorio" id="tabla_archivos_conteo_ave" name="archivos_conteo_ave" multiple/>
		</div>	
	</fieldset>
	<br/>
	<input type="submit" value="Enviar" class="btn FlotaIzquierda"/>
</form>

<br/>
<br/>

<fieldset>
<legend>
  Revisión de archivos
</legend>
</fieldset>
{{#=grid}}

<script>

   	$(document).ready
    (
        function()
        {
           /*Cuando el documento se carga, las casillas para seleccionar nombres
           están seleccionadas y los campos de texto son visibles (default):*/
            $('#tabla_hay_nombre_comun').prop('checked', true);

			$('#tabla_hay_nombre_cientifico').prop('checked', true);
        }
    )

    /*Fade in/out de los campos de ingreso de nombre común/científico, de acuerdo
    a si se marcó o no la casilla correspondiente*/


    //AJAX para llenar la combobox con los sitios declarados al elegir el conglomerado
	$('#tabla_conglomerado_muestra_id').change
	(
    	function()
    	{
    		$('#tabla_sitio_muestra_id').remove();

            //ajax es una función de Web2py que simplifica la función homónima de JQuery
            //recibe el URL destino, los nombres de los campos que se enviarán y el ID
            // del elemento donde se insertará la respuesta
    		ajax("{{=URL('asignarSitios')}}", ['conglomerado_muestra_id'], 'shadow_clone');
    	}
   	)

    $('#tabla_hay_nombre_comun').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('#tabla_nombre_comun').fadeIn();
            else
                $('#tabla_nombre_comun').fadeOut();
        }
    )

    $('#tabla_hay_nombre_cientifico').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('#tabla_nombre_cientifico').fadeIn();
            else
                $('#tabla_nombre_cientifico').fadeOut();
        }
    )

   	//Validando, para ello utilizamos la clase "obligatorio":
   	$('form').submit
   	(
   		function()
   		{
   			/*flag es un indicador de que la forma está completa
   			faltanNombres es un indicador de que es necesario que se escriban
   			ya sea el nombre común o el científico de la especia (ésto es cuando
   			la especie no se encuentra en la lista de invasoras), y sin embargo,
   			no se ha hecho.*/
   			flag = true;
   			faltanNombres = false;

   			campos=$('.obligatorio');
   			campos.each(function() 
   			{
  				if(!$(this).val())
  				{
  					 flag = false;
  				}
			}
			);

			//Validando los radio-botones
			if(!$('input:radio[name=es_huella_excreta]:checked').val())
			{
				flag = false;
				//alert('falta presionar un radio-botón');
			}

   			//Si no se marcó ninguna casilla para ingresar el nombre
   			if(!$('#tabla_hay_nombre_comun').prop('checked') && !$('#tabla_hay_nombre_cientifico').prop('checked'))
   			{
   				flag = false;
   				faltanNombres = true;
   				//alert('caso1');
   			}
   			else if($('#tabla_hay_nombre_comun').prop('checked') && !$('#tabla_nombre_comun').val())
   			/*Si se marcó la casilla de nombre común pero no se escribió
   			nada en el campo subsecuente.*/
   			{
   				flag = false;
   				faltanNombres = true;
   				//alert('caso2');
   			}
   			 //Si se marcó la casilla de nombre científico pero no se escribió nada en el campo subsecuente.
   			else if($('#tabla_hay_nombre_cientifico').prop('checked') && !$('#tabla_nombre_cientifico').val())
   			{
   				flag = false;
   				faltanNombres = true;
   				//alert('caso3');
   			}

   			if(!flag)
        	{
          		if(faltanNombres)
            		alert('Favor de escribir al menos un nombre (ya sea común científico)');
          		else
            		alert('Faltó llenar un campo o subir alguna imagen.');

          		return false;
			}
   		}
   	)
</script>