{{extend 'layout.html'}}

<form action="" enctype="multipart/form-data" method="post">
	<input type="hidden"  name="_formname" value="formaHTML"/>
	<fieldset>
		<legend>
			Exportador de la base de datos (para uso interno)
		</legend>
		<label for="nombre_archivo">Nombre del archivo (alfanumérico):</label>
		<input class="string obligatorio" name="nombre_archivo" id="nombre_archivo" type="text" value=""/>
	</fieldset>
	<br/>
	<br/>
	<input type="submit" value="Enviar" class="btn" id="enviar"/>
</form>
