{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

    .Tabla .generic-widget, .Estatica
    {
        margin-right: 2cm;
        width: 4.4cm;
    }

    .FlotaIzquierda
    {
        float: left;
    }

    .CentrarV
    {
        vertical-align: middle;
    }
    
</style>
{{end}}

<form action="" enctype="multipart/form-data" method="post">
    <!--<input type="hidden" name="_formname" value="formaArchivosCamaraHTML"/>-->
    <fieldset>
        <legend>
            Checklist
        </legend>
            <label for="tabla_conglomerado_muestra_id">Conglomerado</label>
            <select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
                <option value=""/>
                {{for conglomerado in listaConglomerado:}}
                    <option value="{{=conglomerado.id}}">
                        {{=conglomerado.nombre}}
                    </option>
                {{pass}}
            </select>
            <input type='checkbox' id='tabla_hay_camara' name='hay_camara' value='on'/>
    </fieldset>
</form>

<script>

    //AJAX para verificar si existe una cámara declarada en algún sitio del conglomerado elegido
    $('#tabla_conglomerado_muestra_id').change(
        function()
        {
            $.ajax({
                type: "POST",
                data: $('#tabla_conglomerado_muestra_id').serialize(),
                url: "{{=URL('datosCamara')}}",
                async: false,
                success: function(resultado)
                {
                    if(resultado>0)
                        $('#tabla_hay_camara').prop('checked', true);
                }
            });
        });
</script>
