{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

    .cong_table .integer, .cong_table .date, .cong_table .string, .cong_table .double
    {
        margin-right: 2cm;
        width: 4cm;
    }

    .cong_table #Conglomerado_muestra_tipo, .cong_table #Conglomerado_muestra_tipo_uso_suelo,
    .cong_table #Conglomerado_muestra_estado, .cong_table #Conglomerado_muestra_vegetacion_tipo
    .cong_table #Conglomerado_muestra_tenencia
    {
        margin-right: 2cm;
        width: 4.5cm;
    }

    .site_table, .cong_table
    {
        table-layout: fixed;
        width: 100%;
    }

    .site_table .integer, .site_table .date, .site_table .string, .site_table .double
    {
        width: 2cm;
    }

    #Site_sample_ellipsoid
    {
        width: 2.5cm;
    }
    
    .centrar
    {
        text-align: center;
    }
<!--
    SQLFORM.widgets.string.widget
    SQLFORM.widgets.text.widget
    SQLFORM.widgets.password.widget
    SQLFORM.widgets.integer.widget
    SQLFORM.widgets.double.widget
    SQLFORM.widgets.time.widget
    SQLFORM.widgets.date.widget
    SQLFORM.widgets.datetime.widget
    SQLFORM.widgets.upload.widget
    SQLFORM.widgets.boolean.widget
    SQLFORM.widgets.options.widget
    SQLFORM.widgets.multiple.widget
    SQLFORM.widgets.radio.widget
    SQLFORM.widgets.checkboxes.widget
    SQLFORM.widgets.autocomplete
-->

</style>
{{end}}
<fieldset>
    <legend>
        Datos del conglomerado
    </legend>

    {{=congform.custom.begin}}
    <table class='cong_table'>
        <tr>
            <td>
                <div>
                    {{=congform.custom.label.nombre}}
                </div>
                <div>
                    {{=congform.custom.widget.nombre}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.fecha_visita}}
                </div>
                <div>
                    {{=congform.custom.widget.fecha_visita}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.tipo}}
                </div>
                <div>
                    {{=congform.custom.widget.tipo}}
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div>
                    {{=congform.custom.label.estado}}
                </div>
                <div>
                    {{=congform.custom.widget.estado}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.municipio}}
                </div>
                <div>
                    {{=congform.custom.widget.municipio}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.predio}}
                </div>
                <div>
                    {{=congform.custom.widget.predio}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.tenencia}}
                </div>
                <div>
                    {{=congform.custom.widget.tenencia}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    {{=congform.custom.label.tipo_uso_suelo}}
                </div>
                <div>
                    {{=congform.custom.widget.tipo_uso_suelo}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.vegetacion_tipo}}
                </div>
                <div>
                    {{=congform.custom.widget.vegetacion_tipo}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.perturbado}}
                </div>
                <div>
                    {{=congform.custom.widget.perturbado}}
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    <div>
        <td>
            <div>
                {{=congform.custom.label.comentario}}
            </div>
            <div>
                {{=congform.custom.widget.comentario}}
            </div>
        </td>
{{=congform.custom.end}}
</fieldset>
<button onclick="document.getElementById('forma_conglomerado').submit();">
    Enviar formulario
</button>
