{{extend 'layout.html'}}
{{=congform.custom.begin}}
<fieldset>
    <legend>
        Datos del conglomerado
    </legend>
    <table>
        <tr>
            <td>
                <div>
                    {{=congform.custom.label.name}}
                </div>
                <div>
                    {{=congform.custom.widget.name}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.visit_date}}
                </div>
                <div>
                    {{=congform.custom.widget.visit_date}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.type_}}
                </div>
                <div>
                    {{=congform.custom.widget.type_}}
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div>
                    {{=congform.custom.label.state_}}
                </div>
                <div>
                    {{=congform.custom.widget.state_}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.municipio}}
                </div>
                <div>
                    {{=congform.custom.widget.municipio}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.predio}}
                </div>
                <div>
                    {{=congform.custom.widget.predio}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.property_}}
                </div>
                <div>
                    {{=congform.custom.widget.property_}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    {{=congform.custom.label.soil_use_type}}
                </div>
                <div>
                    {{=congform.custom.widget.soil_use_type}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.vegetation_type}}
                </div>
                <div>
                    {{=congform.custom.widget.vegetation_type}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.is_perturbed}}
                </div>
                <div>
                    {{=congform.custom.widget.is_perturbed}}
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    <div>
        <td>
            <div>
                {{=congform.custom.label.comment_}}
            </div>
            <div>
                {{=congform.custom.widget.comment_}}
            </div>
        </td>
</fieldset> 
{{=congform.custom.end}}

{{=site1form.custom.begin}}
<fieldset>
    <legend>
        Datos del centro del conglomerado (sitio 1)
    </legend>
    <table>
        <tr>
            <th>
            </th>
            <th colspan="3">
                Latitud
            </th>
            <th colspan="3">
                Longitud
            </th>
            <th rowspan="2">
                {{=site1form.custom.label.datum}}
            </th>
            <th rowspan="2">
                 {{=site1form.custom.label.altitude}}
            </th>
            <th rowspan="2">
                 {{=site1form.custom.label.gps_error}}
            </th>
        </tr>
            <th>
                
            </th>
        <tr>
            <th>
                Elemento
            </th>
            <th>
                {{=site1form.custom.label.lat_deg}}
            </th>
            <th>
                {{=site1form.custom.label.lat_min}}
            </th>
            <th>
                {{=site1form.custom.label.lat_sec}}
            </th>
            <th>
                {{=site1form.custom.label.lon_deg}}
            </th>
            <th>
                {{=site1form.custom.label.lon_min}}
            </th>
            <th>
                {{=site1form.custom.label.lon_sec}}
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
    </table>
</fieldset>
{{=site1form.custom.end}}
<button onclick="document.getElementById('forma_conglomerado').submit();">Enviar formulario</button>
