{{extend 'layout.html'}}
{{=congform.custom.begin}}
<fieldset>
    <legend>
        Datos del conglomerado:
    </legend>
    <table>
        <tr>
            <td>
                <div>
                    {{=congform.custom.label.name}}
                </div>
                <div>
                    {{=congform.custom.widget.name}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.visit_date}}
                </div>
                <div>
                    {{=congform.custom.widget.visit_date}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.type_}}
                </div>
                <div>
                    {{=congform.custom.widget.type_}}
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div>
                    {{=congform.custom.label.state_}}
                </div>
                <div>
                    {{=congform.custom.widget.state_}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.municipio}}
                </div>
                <div>
                    {{=congform.custom.widget.municipio}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.predio}}
                </div>
                <div>
                    {{=congform.custom.widget.predio}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.property_}}
                </div>
                <div>
                    {{=congform.custom.widget.property_}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    {{=congform.custom.label.soil_use_type}}
                </div>
                <div>
                    {{=congform.custom.widget.soil_use_type}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.vegetation_type}}
                </div>
                <div>
                    {{=congform.custom.widget.vegetation_type}}
                </div>
            </td>
            <td>
                <div>
                    {{=congform.custom.label.is_perturbed}}
                </div>
                <div>
                    {{=congform.custom.widget.is_perturbed}}
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    <div>
        <td>
            <div>
                {{=congform.custom.label.comment_}}
            </div>
            <div>
                {{=congform.custom.widget.comment_}}
            </div>
        </td>
{{=congform.custom.submit}}
{{=congform.custom.end}}
</fieldset>
