{{extend 'layout.html'}} 
{{block head}}
<style type="text/css">

	.Campos_sitio, .Campos_conglomerado
    {
        table-layout: fixed;
        width: 120%;
    }

    .Campos_conglomerado .integer, .Campos_conglomerado .date, .Campos_conglomerado .string,
    .Campos_conglomerado .double
    {
        margin-right: 2cm;
        width: 4cm;
    }
    
    .Campos_conglomerado .generic-widget
    {
    	margin-right: 2cm;
        width: 4.4cm;
    }

    .Campos_sitio .integer, .Campos_sitio .date, .Campos_sitio .string, .Campos_sitio .double
    {
        width: 2cm;
    }
    
    .Campos_sitio .generic-widget
    {
        width: 2.5cm;
    }
    
    .Centrar
    {
        text-align: center;
    }
    
    #enviar
    {
        float: left;
    }
</style>
{{end}}


<!--
<form action="" enctype="multipart/form-data" method="post">
    <input name="_formname" type="hidden" value="imagenForm">
    <input class="string" name="imagen_nombre" type="text" value="">
    <input class="upload" name="imagen_archivo" type="file">
    <input type="submit" value="Submit">
</form>
 -->


{{=forma.custom.begin}}
<fieldset class='Campos_conglomerado'>
    <legend>
        Datos del conglomerado
    </legend>
    <table>
        <tr>
            <td>
                <div>
                    {{=forma.custom.label.nombre}}
                </div>
                <div>
                    {{=forma.custom.widget.nombre}}
                </div>
            </td>
            <td>
                <div>
                    {{=forma.custom.label.fecha_visita}}
                </div>
                <div>
                    {{=forma.custom.widget.fecha_visita}}
                </div>
            </td>
            <td>
                <div>
                    {{=forma.custom.label.tipo}}
                </div>
                <div>
                    {{=forma.custom.widget.tipo}}
                </div>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    {{=forma.custom.label.estado}}
                </div>
                <div>
                    {{=forma.custom.widget.estado}}
                </div>
            </td>
            <td>
                <div>
                    {{=forma.custom.label.municipio}}
                </div>
                <div>
                    {{=forma.custom.widget.municipio}}
                </div>
            </td>
            <td>
                <div>
                    {{=forma.custom.label.predio}}
                </div>
                <div>
                    {{=forma.custom.widget.predio}}
                </div>
            </td>
            <td>
                <div>
                    {{=forma.custom.label.tenencia}}
                </div>
                <div>
                    {{=forma.custom.widget.tenencia}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    {{=forma.custom.label.uso_suelo_tipo}}
                </div>
                <div>
                    {{=forma.custom.widget.uso_suelo_tipo}}
                </div>
            </td>
            <td>
                <!--La clase vegetación sirve para el JQuery que desvanece/reaparece el campo-->
                <div class="Vegetacion">
                     {{=forma.custom.label.vegetacion_tipo}}
                </div>
                <div class="Vegetacion">
                    {{=forma.custom.widget.vegetacion_tipo}}
                </div>
            </td>
            <td>
                <div class="Vegetacion">
                    {{=forma.custom.label.perturbado}}
                </div>
                <div class="Vegetacion">
                    {{=forma.custom.widget.perturbado}}
                </div>
            </td>
            <td>
            </td>
        </tr>
    </table>
    <div>
        <div>
            {{=forma.custom.label.comentario}}
        </div>
        <div>
            {{=forma.custom.widget.comentario}}
        </div>
    </div>
</fieldset>

<fieldset class="Campos_sitio">
    <legend>
        Datos de los sitios y punto de control
    </legend>
    <table>
        <tr>
            <th class="Centrar">        
                {{=forma.custom.label.existe_2}}
            </th>
            <th>
                Elemento
            </th>
            <th colspan="3", class="Centrar">
                Latitud
            </th>
            <th colspan="3", class="Centrar">
                Longitud
            </th>
            <th>
                {{=forma.custom.label.elipsoide_c}}
            </th>
            <th>
                 {{=forma.custom.label.altitud_c}}
            </th>
            <th>
                 {{=forma.custom.label.gps_error_c}}
            </th>
            <th>
                 {{=forma.custom.label.evidencia_c}}
            </th>
            <th>
                {{=forma.custom.label.archivo_c}}
            </th>
        </tr>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
                {{=forma.custom.label.lat_grado_c}}
            </th>
            <th>
                {{=forma.custom.label.lat_min_c}}
            </th>
            <th>
                {{=forma.custom.label.lat_seg_c}}
            </th>
            <th>
                {{=forma.custom.label.lon_grado_c}}
            </th>
            <th>
                {{=forma.custom.label.lon_min_c}}
            </th>
            <th>
                {{=forma.custom.label.lon_seg_c}}
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>                
            </th>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                Punto de control
            </td>                
            <td>
                {{=forma.custom.widget.lat_grado_c}}
            </td>
            <td>
                {{=forma.custom.widget.lat_min_c}}
            </td>
            <td>
                {{=forma.custom.widget.lat_seg_c}}
            </td>
            <td>
                {{=forma.custom.widget.lon_grado_c}}
            </td>
            <td>
                {{=forma.custom.widget.lon_min_c}}
            </td>
            <td>
                {{=forma.custom.widget.lon_seg_c}}
            </td>
            <td>
                {{=forma.custom.widget.elipsoide_c}}
            </td>
            <td>
                {{=forma.custom.widget.altitud_c}}
            </td>
            <td>
                {{=forma.custom.widget.gps_error_c}}
            </td>
            <td>
                {{=forma.custom.widget.evidencia_c}}
            </td>
            <td>
                {{=forma.custom.widget.archivo_c}}
            </td>
        </tr>
        <tr>
            <td
            </td>
            <td>
                Sitio 1
            </td>
            <td>
                <div class="Sitio_info_1">
                    {{=forma.custom.widget.lat_grado_1}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_1">
                    {{=forma.custom.widget.lat_min_1}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_1">
                    {{=forma.custom.widget.lat_seg_1}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_1">
                    {{=forma.custom.widget.lon_grado_1}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_1">
                    {{=forma.custom.widget.lon_min_1}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_1">
                    {{=forma.custom.widget.lon_seg_1}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_1">
                    {{=forma.custom.widget.elipsoide_1}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_1">
                    {{=forma.custom.widget.altitud_1}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_1">
                    {{=forma.custom.widget.gps_error_1}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_1">
                    {{=forma.custom.widget.evidencia_1}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_1">
                    {{=forma.custom.widget.archivo_1}}
                </div>
            </td>
        </tr>
        <tr>
            <td class="Centrar">
                {{=forma.custom.widget.existe_2}}
            </td>
            <td>
                Sitio 2
            </td>
            <td>
                <div class="Sitio_info_2">
                    {{=forma.custom.widget.lat_grado_2}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_2">
                    {{=forma.custom.widget.lat_min_2}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_2">
                    {{=forma.custom.widget.lat_seg_2}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_2">
                    {{=forma.custom.widget.lon_grado_2}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_2">
                    {{=forma.custom.widget.lon_min_2}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_2">
                    {{=forma.custom.widget.lon_seg_2}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_2">
                    {{=forma.custom.widget.elipsoide_2}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_2">
                    {{=forma.custom.widget.altitud_2}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_2">
                    {{=forma.custom.widget.gps_error_2}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_2">
                    {{=forma.custom.widget.evidencia_2}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_2">
                    {{=forma.custom.widget.archivo_2}}
                </div>
            </td>
        </tr>
        <tr>
            <td class="Centrar">
                {{=forma.custom.widget.existe_3}}
            </td>
            <td>
                Sitio 3
            </td>
            <td>
                <div class="Sitio_info_3">
                    {{=forma.custom.widget.lat_grado_3}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_3">
                    {{=forma.custom.widget.lat_min_3}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_3">
                    {{=forma.custom.widget.lat_seg_3}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_3">
                    {{=forma.custom.widget.lon_grado_3}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_3">
                    {{=forma.custom.widget.lon_min_3}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_3">
                    {{=forma.custom.widget.lon_seg_3}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_3">
                    {{=forma.custom.widget.elipsoide_3}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_3">
                    {{=forma.custom.widget.altitud_3}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_3">
                    {{=forma.custom.widget.gps_error_3}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_3">
                    {{=forma.custom.widget.evidencia_3}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_3">
                    {{=forma.custom.widget.archivo_3}}
                </div>
            </td>
         </tr>
         <tr>
            <td class="Centrar">
                {{=forma.custom.widget.existe_4}}
            </td>
            <td>
                Sitio 4
            </td>
            <td>
                <div class="Sitio_info_4">
                    {{=forma.custom.widget.lat_grado_4}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_4">
                    {{=forma.custom.widget.lat_min_4}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_4">
                    {{=forma.custom.widget.lat_seg_4}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_4">
                    {{=forma.custom.widget.lon_grado_4}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_4">
                    {{=forma.custom.widget.lon_min_4}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_4">
                    {{=forma.custom.widget.lon_seg_4}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_4">
                    {{=forma.custom.widget.elipsoide_4}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_4">
                    {{=forma.custom.widget.altitud_4}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_4">
                    {{=forma.custom.widget.gps_error_4}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_4">
                    {{=forma.custom.widget.evidencia_4}}
                </div>
            </td>
            <td>
                <div class="Sitio_info_4">
                    {{=forma.custom.widget.archivo_4}}
                </div>
            </td>
        </tr>
    </table>
</fieldset>
{{=forma.custom.submit}}
{{=forma.custom.end}}

<br/>
<div>
<h2>Submitted variables</h2>
    {{#=BEAUTIFY(request.vars)}}
<h2>Accepted variables</h2>
    {{#=BEAUTIFY(forma.vars)}}
<h2>Errors in form</h2>
    {{#=BEAUTIFY(forma.errors)}}
</div>

<script>
    $(document).ready
    (
        function()
        {
           /*Cuando el documento se carga, el campo de vegetación está escondido*/
           $('#tabla_uso_suelo_tipo').val("");
           $('.Vegetacion').hide();
           
           /*Cuando el documento se carga, se muestran los sitios como si existieran*/
           $('#tabla_existe_2').prop('checked', true);
           $('.Sitio_info_2').show();
           
           $('#tabla_existe_3').prop('checked', true);
           $('.Sitio_info_3').show();
           
           $('#tabla_existe_4').prop('checked', true);
           $('.Sitio_info_4').show();
        }
    )
    
    /* Cuando cambia el tipo de uso de suelo seleccionado, si el uso de suelo principal es
	'Vegetación', entonces aparecen los campos correspondientes, en caso contrario,
	se sombrean dichos campos */
	
    $('#tabla_uso_suelo_tipo').change
    (
        function()
        {
            if($(this).find(":selected").text()=="Vegetación")
                $('.Vegetacion').fadeIn();
            else
                $('.Vegetacion').fadeOut();
        }
    )

    
    /*Cuando se cambia el valor de la casilla "existe" asociada a un sitio, se sombrean
	o reaparecen los campos correspondientes, dependiendo si el sitio existe o no.*/
	
    $('#tabla_existe_2').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Sitio_info_2').fadeIn();
            else
                $('.Sitio_info_2').fadeOut();
        }
    )

    $('#tabla_existe_3').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Sitio_info_3').fadeIn();
            else
                $('.Sitio_info_3').fadeOut();
        }
    )

    $('#tabla_existe_4').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Sitio_info_4').fadeIn();
            else
                $('.Sitio_info_4').fadeOut();
        }
    )

    /*Antes de enviar la forma, se escriben los valores, para que el formulario pase la
    validación de Web2py. Posteriormente, en el controlador se administrarán los valores
    que realmente se introducen en la base de datos*/
    
    /* si un sitio existe y no se subió ningún archivo, lanza un mensaje y no
    deja que se envíe el formulario*/
    
    $('form').submit
    (
    	function()
    	{
    		if($('#tabla_uso_suelo_tipo').find(":selected").text()!="Vegetación")
            {
    			$('#tabla_vegetacion_tipo').val("1");
    	    }
    		if($('#tabla_existe_2').prop('checked') == false)
    		{
    			$('.Sitio_info_2 input').not('#tabla_evidencia_2').val("0");
            	$('.Sitio_info_2 select').val("1");
            }
            if($('#tabla_existe_3').prop('checked') == false)
    		{
    			$('.Sitio_info_3 input').not('#tabla_evidencia_3').val("0");
            	$('.Sitio_info_3 select').val("1");
            }
            if($('#tabla_existe_4').prop('checked') == false)
    		{
    			$('.Sitio_info_4 input').not('#tabla_evidencia_3').val("0");
            	$('.Sitio_info_4 select').val("1");
            }
    	}
    )

    /*$('form').submit
    (
    	function()
    	{
    		//Si falta alguna imagen, var=false y no se envía el formulario.
    		flag = true;
    		
    		if($('#tabla_uso_suelo_tipo').find(":selected").text()!="Vegetación")
    		{
    			$('#tabla_vegetacion_tipo').val("1");
    		}

    		if(!$('#tabla_archivo_1').val() || !$('#tabla_archivo_c').val())
    		{
    			flag = false;
    		}
    			                	            
            if(!$('#tabla_existe_3').prop('checked'))
    		{
    		    $('.Sitio_info_3 select').val("1");
    			$('.Sitio_info_3 input').not('#tabla_evidencia_3').val("0");
            }
            else if(!$('#tabla_archivo_3').val())
            {
            	flag = false;
            }
            else
            {
            }
            
            if(!$('#tabla_existe_2').prop('checked'))
    		{
    		    $('.Sitio_info_2 select').val("1");
    			$('.Sitio_info_2 input').not('#tabla_evidencia_2').val("0");
            }
            
            else if(!$('#tabla_archivo_2').val())
            {
            	flag = false;
            }
            else
            {
            }

            if(!$('#tabla_existe_4').prop('checked'))
    		{
    		    $('.Sitio_info_4 select').val("1");
    			$('.Sitio_info_4 input').not('#tabla_evidencia_3').val("0");
            }
            
            else if(!$('#tabla_archivo_4').val())
            {
            	flag = false;
            }
            else
            {
            }
            	
            if(!flag)
            {
                alert('Faltó adjuntar una imagen a algún sitio existente');
            	return false;
			}
    	}
    )*/

</script>
