{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

    .Tabla .generic-widget
    {
        margin-right: 2cm;
        width: 4.4cm;
    }

    .TablaCONANP .generic-widget
    {
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        width: 4.4cm;
    }

    .TablaCONANP textarea
    {
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        width: 7cm;
    }

    .FlotaIzquierda
    {
        float: left;
    }

    .Centrar
    {
        text-align: center;
    }

</style>
{{end}}
{{#=response.toolbar()}}

<form action="" enctype="multipart/form-data" method="post">
    <input type="hidden" name="_formname" value="formaImpactosHTML"/>
    <fieldset>
        <legend>
            Impactos ambientales actuales
        </legend>
        <div class="Tabla">
            <div>
                <label for="tabla_conglomerado_muestra_id">Conglomerado</label>
            </div>
            <div>
                <!--este campo sólo sirve para encontrar
                con AJAX los sitios existentes asociados al conglomerado
                elegido, al enviar la forma al controlador, se utilizará
                para guardar el registro de la cámara, únicamente el id
                del sitio (de la dropdown generada mediante AJAX)-->
                <select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
                    <option value=""/>
                    {{for conglomerado in listaConglomerado:}}
                        <option value="{{=conglomerado.id}}">
                            {{=conglomerado.nombre}}
                        </option>
                    {{pass}}
                </select>
            </div>
        </div>
        <hr/>
        <table class="TablaCONANP">
            <tr>
                <th></th>
                <th class="Centrar">Evidencia</th>
                <th class="Centrar">Vegetación</th>
                <th class="Centrar">Suelo</th>
                <th class="Centrar">Observaciones</th>
            </tr>
        
            {{for i in range(n_impactos):}}              

                {{impacto_i = listaTiposImpacto[i]}}

                <!-- Creamos los nombres de los campos y id's -->
                {{tipo_i = 'tipo_' + str(i+1)}}
                {{tabla_tipo_i = 'tabla_' + tipo_i}}

                {{hay_evidencia_i = 'hay_evidencia_' + str(i+1)}}
                {{tabla_hay_evidencia_i = 'tabla_' + hay_evidencia_i}}

                {{en_vegetacion_i = 'en_vegetacion_' + str(i+1)}}
                {{tabla_en_vegetacion_i = 'tabla' + en_vegetacion_i}}

                {{en_suelo_i = 'en_suelo_' + str(i+1)}}
                {{tabla_en_suelo_i = 'tabla' + en_suelo_i}}

                {{comentario_i = 'comentario_' + str(i+1)}}
                {{tabla_comentario_i = 'tabla' + comentario_i}}

                <tr>
                    <td>
                        {{=impacto_i.nombre}}
                        <input type="hidden" value="{{=impacto_i.nombre}}" name="{{=tipo_i}}" id="{{=tabla_tipo_i}}">
                    </td>
                    <td class="Centrar">
                            <input class="boolean" name="{{=hay_evidencia_i}}" id="{{=tabla_hay_evidencia_i}}" type="checkbox" value="on"/>
                    </td>
                    <td>
                        <div>
                            <select class="generic-widget obligatorio" name="{{=en_vegetacion_i}}" id="{{=tabla_en_vegetacion_i}}">
                                <option value=""/>
                                {{for severidad in listaSeveridadImpacto:}}
                                    <option value="{{=severidad.nombre}}">
                                        {{=severidad.nombre}}
                                    </option>
                                {{pass}}
                            </select>
                        </div>
                    </td>
                    <td>
                        <div>
                            <select class="generic-widget obligatorio" name="{{=en_suelo_i}}" id="{{=tabla_en_suelo_i}}">
                                <option value=""/>
                                {{for severidad in listaSeveridadImpacto:}}
                                    <option value="{{=severidad.nombre}}">
                                        {{=severidad.nombre}}
                                    </option>
                                {{pass}}
                            </select>
                        </div>
                    </td>
                    <td>
                        <textarea class="text" cols="40" id="{{=tabla_comentario_i}}" name="{{=comentario_i}}" rows="1"></textarea>
                    </td>
                </tr>
            {{pass}}
        </table>
        <hr/>
    </fieldset>
    <input type="submit" value="Enviar" class="btn FlotaIzquierda"/>
 </form>

{{#=BEAUTIFY(request.vars)}}

<script>

    //AJAX para evitar que se envíe la información de incendios
    //correspondiente a un conglomerado más de una vez:
    $('#tabla_conglomerado_muestra_id').change
    (
        function ()
        {
            $.ajax
            (
            {  
                type: "POST",
                data: $('#tabla_conglomerado_muestra_id').serialize(),
                url: "{{=URL('impactosExistentes')}}",
                success: function(resultado)
                {
                    //alert(resultado);
                    if(resultado>=1)
                    {
                        alert('Ya se ha ingresado la información de impactos actuales de este conglomerado');
                        $('#tabla_conglomerado_muestra_id').val("");
                    }
                }
            }
            );
        }
    );

    //Validando, para ello utilizamos la clase "obligatorio":
    $('form').submit
    (
        function()
        {
            flag =true;
            campos=$('.obligatorio');
            campos.each(function() 
            {
                if(!$(this).val())
                {
                     flag = false;
                }
            }
            );
                       
            if(!flag)
            {
                alert('Faltó llenar algún campo');
                return false;
            }
        }
    )
</script>
