{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

    .Tabla .string
    {
        margin-right: 0.5cm;
        width: 2cm;
        text-align: center;
    }
    
    .Tabla .generic-widget
    {
    	margin-right: 2cm;
        width: 3cm;
    }
    
    .Tabla .boolean
    {
        width: 2cm;
    }

    .FlotaIzquierda
    {
        float: left;
    }

    .Centrar
    {
        text-align: center;
    }

</style>
{{end}}
{{#=response.toolbar()}}

<form action="" enctype="multipart/form-data" method="post">
    <input type="hidden" name="_formname" value="formaIncendioHTML"/>
    <fieldset>
        <legend>
            Información de incendios
        </legend>
        <table class="Tabla">
            <tr>
                <td>
                    <div>
                        <label for="tabla_conglomerado_muestra_id">Conglomerado</label>
                    </div>
                    <div>
                        <!--este campo sólo sirve para encontrar
                        con AJAX los sitios existentes asociados al conglomerado
                        elegido, al enviar la forma al controlador, se utilizará
                        para guardar el registro de la cámara, únicamente el id
                        del sitio (de la dropdown generada mediante AJAX)-->
                        <select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
                            <option value=""/>
                            {{for conglomerado in listaConglomerado:}}
                                <option value="{{=conglomerado.id}}">
                                    {{=conglomerado.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>  
                <td>
                    <div>
                        <label for="tabla_hay_evidencia">Evidencia</label>
                    </div>
                    <div class="Centrar">
                        <input class="boolean" name="hay_evidencia" id="tabla_hay_evidencia" type="checkbox" value="on"/>
                    </div>
                </td>              
            </tr>
        </table>
        <hr/>
        <table class="Tabla">
            <td>
                <div class="FlotaIzquierda" style="padding-right:10px;">
                    <label for="tabla_es_anio_actual">Año actual</label>
                </div>
                    <div>
                        <input class="boolean" name="es_anio_actual" id="tabla_es_anio_actual" type="radio" value="actual"/>
                    </div>
                </td>
                <td rowspan="2" class="CentrarV">
                    <div>
                        <label for="tabla_tipo">Tipo de incendio</label>
                    </div>
                    <div>
                        <select class="generic-widget obligatorio" name="tipo" id="tabla_tipo">
                            <option value=""/>
                            {{for tipo in listaTipoIncendio:}}
                                <option value="{{=tipo.nombre}}">
                                    {{=tipo.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="FlotaIzquierda" style="padding-right:17px">
                        <label for="tabla_es_anio_anterior">Años anteriores</label>
                    </div>
                    <div>
                        <input class="boolean" name="es_anio_actual" id="tabla_es_anio_anterior" type="radio" value="anterior"/>
                    </div>
                </td>
            </tr>
        </table>

    </fieldset>
    <input type="submit" value="Enviar" class="btn FlotaIzquierda"/>
</form>

{{#=BEAUTIFY(request.vars)}}
