{{extend 'layout.html'}}
{{block head}}
<style type="text/css">
	table
    {
        table-layout: fixed;
        width: 80%;
    }

    .Especies .generic-widget
    {
    	margin-right: 1cm;
        width: 4.4cm;
    }
    .Especies .integer, .Especies .double, .Especies .string, .Especies .date, .Especies .time
    {
    	margin-right: 1cm;
        width: 4cm;
    }
    
    .Centrar
    {
        text-align: center;
    }
    .CentrarV
    {
 		/* padding 0 10px;
  		font-size:0.8em;
  		**line-height: 0.8em;**
  		float:right;
  		height:100%;
  		display:table; */
  		vertical-align:middle;
	}    
    #enviar
    {
        float: left;
    }
</style>
{{end}}

<form action="#" enctype="multipart/form-data" method="post">
	<fieldset>
		<legend>
		Transecto huellas y excretas
		</legend>
		<table class="Especies">
			<tr>
				<td>
					<div>
						<label for="tabla_conglomerado_muestra_id">Conglomerado</label>
					</div>
					<div>
						<select class="generic-widget" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
							<option value=""/>
							<option value="1">Gato</option>
						</select>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_sitio_numero">Sitio</label>
					</div>
					<div>
						<select class="generic-widget" name="sitio_numero" id="tabla_sitio_numero">
							<option value=""/>
							<option value="1">Café</option>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_tecnico">Técnico</label>
					</div>
					<div>
						<input class="string" name="tecnico" id="tabla_tecnico" type="text" value=""/>
					</div>
				</td>
			</tr>
		<tr>
			<td>
				<div>
					<label for="tabla_fecha">Fecha</label>
				</div>
				<div>
					<input class="date" name="fecha" id="tabla_fecha" type="text" value=""/>
				</div>
			</td>
			<td>
				<div>
					<label for="tabla_hora_inicio">Hora inicio</label>
				</div>
				<div>
					<input class="time" name="hora_inicio" id="tabla_hora_inicio" type="text" value=""/>
				</div>
			</td>
			<td>
				<div>
					<label for="tabla_hora_termino">Hora término</label>
				</div>
				<div>
					<input class="time" name="hora_termino" id="tabla_hora_termino" type="text" value=""/>
				</div>
			</td>
		</tr>
	</table>
		<div>
    		<label for="tabla_comentario">Observaciones</label>
    	</div>
    	<div>
		    <textarea class="text" cols="40" id="tabla_comentario" name="comentario" rows="10">
			</textarea>
    	</div>
    </fieldset>
	<input type="submit" value="Enviar" class="btn" id="enviar"/>
	<br>
	</br>
	<fieldset>
		<legend>
			Huella/excreta
		</legend><td>
		<table class="Especies">
			<tr>
				<th>
					<div style="float:left;padding-right:10px;">
						<label for="tabla_es_huella">Huellas</label>
					</div>
					<div style="float:center;">
						<input class="boolean" name="es_huella" id="tabla_es_huella" type="radio" value="on"/>
					</div>
				</th>
				<th>
				</th>
			</tr>
			<tr>
				<th>
					<div style="float:left;padding-right:10px;padding-bottom: 10px">
						<label for="tabla_es_excreta">Excretas</label>
					</div>
					<div style="float:center;">
						<input class="boolean" name="es_huella" id="tabla_es_excreta" type="radio" value="off"/>
					</div>
				</th>
				<th>
				</th>
			</tr>
			<tr>
				<td>
					<div>
						<label for="tabla_conglomerado_muestra_id">Conglomerado</label>
					</div>
					<div>
						<select class="generic-widget" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
							<option value=""/>
							<option value="1">Gato</option>
						</select>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_sitio_numero">Sitio</label>
					</div>
					<div>
						<select class="generic-widget" name="sitio_numero" id="tabla_sitio_numero">
							<option value=""/>
							<option value="1">Café</option>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<div style="float:left;padding-right:10px;">
							<input class="boolean" name="hay_nombre_comun" id="tabla_hay_nombre_comun" type="checkbox" value="on"/>
						</div>
						<div style="float:left;padding-right:22px;">
							<label for="tabla_comun">Nombre común</label>
						</div>
						<div style="float:left;">
							<input class="string" name="nombre_comun" id="tabla_nombre_comun" type="text" value=""/>
						</div>
					</div>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<div style="float:left;padding-right:10px;">
							<input class="boolean" name="hay_nombre_cientifico" id="tabla_hay_nombre_cientifico" type="checkbox" value="on"/>
						</div>
						<div div style="float:left;padding-right:10px;">
							<label for="tabla_cientifico">Nombre científico</label>
						</div>
						<div style="float:left;">
							<input class="string" name="nombre_cientifico" id="tabla_nombre_cientifico" type="text" value=""/>
						</div>
					</div>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<label for="tabla_largo">Largo(cm)</label>
					</div>
					<div>
						<input class="double" name="largo" id="tabla_largo" type="text" value=""/>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_ancho">Ancho(cm)</label>
					</div>
					<div>
						<input class="double" name="ancho" id="tabla_ancho" type="text" value=""/>
					</div>
				</td>
			</tr>
				</table>
			<div>
    			<label for="tabla_archivos">Lista de archivos</label>
    		</div>
    		<div>
			    <textarea class="text" cols="40" id="tabla_archivos" name="archivos" rows="10">
				</textarea>
    		</div>
	</fieldset>
		<input type="submit" value="Enviar" class="btn" id="enviar"/>
</form>

