{{extend 'layout.html'}}
{{block head}}
	<style type="text/css">

		.Tabla .double, .Tabla .string, .Tabla .integer
		{
			margin-right: 2cm;
			width: 4cm;
		}

		.Tabla .generic-widget
		{
			margin-right: 2cm;
			width: 4.4cm;
		}

		.FlotaIzquierda
		{
			float: left;
		}

        #enviar
        {
            float: left;
        }

	</style>
{{end}}

<form action="" enctype="multipart/form-data" method="post">
	<input type="hidden"  name="_formname" value="formaAvistamientoHTML"/>
	
	<fieldset>
		<legend>
			Avistamiento de aves
		</legend>
		<table class="Tabla">
			<tr>
				<td>
					<label for="conglomerado_muestra_id">Conglomerado</label>
					<!--este campo, en realidad sólo sirve para encontrar
					con AJAX los transectos declarados asociados al conglomerado
					elegido. Al enviar la forma al controlador, se utilizará
					para guardar el registro de la especie invasora únicamente el
					id del transecto (de la dropdown generada mediante AJAX)-->
					<select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="conglomerado_muestra_id">
						<option value=""/>
						{{for conglomerado in listaConglomerado:}}
							<option value="{{=conglomerado.id}}">
								{{=conglomerado.nombre}}
							</option>
						{{pass}}
					</select>
				</td>
				<td>
					<label for="sitio_muestra_id">Sitio</label>
					<!-- El ID es para cambiar la lista de sitios asociados a un conglomerado dinámicamente, utilizando AJAX-->
					<div id="shadow_clone">
						<select class="generic-widget" name="sitio_muestra_id" id="sitio_muestra_id">
							<option value=""/>
						</select>
					</div>
				</td>
				<td>
					<!-- el siguiente div guardará la información del punto de conteo de aves declarado en determinado conglomerado
					 y sitio, si es que existe. La clase Mensaje se usa para esconder el campo-->
					<div id="shadow_clone_2" class="Mensaje">
							<input type='hidden' name='punto_conteo_aves_id' id='punto_conteo_aves_id' value=''/>
					</div>
				</td>
			</tr>
		</table>
		<hr/>

		<div class="FlotaIzquierda" style="padding-right:10px;">
			<label for="es_visual">Observación visual</label>
		</div>
		<div class="FlotaIzquierda" style="padding-right:30px;">
			<input class="boolean" name="es_visual" id="es_visual" type="checkbox" value="on"/>
		</div>
		<div class="FlotaIzquierda" style="padding-right:10px;">
			<label for="es_sonora">Observación sonora</label>
		</div>
		<input class="boolean" name="es_sonora" id="es_sonora" type="checkbox" value="on"/>
		<hr/>

		<table class="Tabla">
			<tr>
				<td>
					<div class="FlotaIzquierda" style="padding-right:10px;">
						<input class="boolean" name="hay_nombre_comun" id="hay_nombre_comun" type="checkbox" value="on"/>
					</div>
					<div class="FlotaIzquierda" style="padding-right:24px;">
						<label for="seleccion_nombre_comun">Nombre común<sup>1</sup></label>
					</div>
					<div class="FlotaIzquierda" style="padding-right:10px">
						<select class="generic-widget" name="seleccion_nombre_comun" id="seleccion_nombre_comun"
						style="margin-right: 1cm;">
							<option value=""/>
							{{for ave in listaAvesNombreComun:}}
								<option value="{{=ave.nombre_comun}}">
									{{=ave.nombre_comun}}
								</option>
							{{pass}}
						</select>
					</div>
					<div class="FlotaIzquierda">
						<input class="string" name="nombre_comun" id="nombre_comun" type="text" value=""/>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="FlotaIzquierda" style="padding-right:10px;">
						<input class="boolean" name="hay_nombre_cientifico" id="hay_nombre_cientifico" type="checkbox" value="on"/>
					</div>
					<div class="FlotaIzquierda" style="padding-right:10px;">
						<label for="seleccion_nombre_cientifico">Nombre científico<sup>1</sup></label>
					</div>
					<div class="FlotaIzquierda" style="padding-right:10px">
						<select class="generic-widget" name="seleccion_nombre_cientifico" id="seleccion_nombre_cientifico"
						style="margin-right: 1cm;">
							<option value=""/>
							{{for ave in listaAvesNombreCientifico:}}
								<option value="{{=ave.nombre_cientifico}}">
									{{=ave.nombre_cientifico}}
								</option>
							{{pass}}
						</select>
					</div>
					<div class="FlotaIzquierda">
						<input class="string" name="nombre_cientifico" id="nombre_cientifico" type="text" value=""/>
					</div>
				</td>
			</tr>
		</table>
		<hr/>

		<table class="Tabla">
			<tr>
				<td>
					<label for="numero_individuos">Número de individuos</label>
					<input class="integer obligatorio" name="numero_individuos" id="numero_individuos" type="text" value=""/>
				</td>
				<td>
					<label for="distancia_aproximada">Distancia aproximada (m)</label>
					<input class="double obligatorio" name="distancia_aproximada" id="distancia_aproximada" type="text" value=""/>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<label for="archivos_avistamiento">Subir archivos*</label>
					<input type="file" id="archivos_avistamiento" name="archivos_avistamiento" multiple/>
				</td>
			</tr>
		</table>
	</fieldset>
	<br/>
	<br/>
	<input type="submit" value="Enviar" class="btn FlotaIzquierda"/>
</form>

<br/>
<br/>

<fieldset>
	<legend>
		Revisión de registros
	</legend>
	{{=grid}}
</fieldset>

<br/>

<p>
	1 Berlanga-García, H., H. Gómez de Silva, V.M. Vargas-Canales, V. Rodríguez-Contreras, L.A. Sánchez-González, R. Ortega-Álvarez, R. Calderón-Parra. (en Prep.) Aves de México: Lista Actualizada de Especies y Nombres Comunes. CONABIO. México.
</p>

<script>

	//////////////////////////////////////////
	// AJAX para llenar la combobox con los sitios existentes al elegir el conglomerado
	//////////////////////////////////////////

	$('#conglomerado_muestra_id').change
	(
		function()
		{

			/* Como a la hora de seleccionar el conglomerado, se resetea la combobox
			de sitio, desaparece el mensaje de punto_conteo_aves: */

			$('.Mensaje').hide();

			$('#sitio_muestra_id, #punto_conteo_aves_id').remove();

			// ajax es una función de Web2py que simplifica la función homónima de JQuery
			// recibe el URL destino, los nombres de los campos que se enviarán y el ID
			// del elemento donde se insertará la respuesta.

			ajax("{{=URL('asignarSitios')}}", ['conglomerado_muestra_id'], 'shadow_clone');

			ajax("{{=URL('asignarPuntoConteo')}}", ['sitio_muestra_id'], 'shadow_clone_2');
	  	}
	);

	//////////////////////////////////////////
	// AJAX para mandar la información con el punto de conteo declarado al elegir un sitio
	//////////////////////////////////////////

	$('#shadow_clone').on('change', '#sitio_muestra_id', function()
	{
		$.ajax(
		{
			type: "POST",
			data: $('#sitio_muestra_id').serialize(),
			url: "{{=URL('asignarPuntoConteo')}}",
			/* El AJAX es sincrónico para poder ejecutar el código que sigue sin
			problemas */
			async: false,
			success: function(resultado)
				{
			   		$("#shadow_clone_2").html(resultado);
				}
		}
		);

		if($(this).val())
		{
			$('.Mensaje').show();
		}
		else
		{
			$('.Mensaje').hide();
		}
	}
	);

	//////////////////////////////////////////
	// Este código se ejecuta en cuanto el html termina de llegar al navegador:
	//////////////////////////////////////////

	$(document).ready
	(
		function()
		{
			/* Cuando el documento se carga, los campos para ingresar nombre común
			están escondidos, y sólo se visualiza la combobox para ingresar
			nombre científico */
			$('#hay_nombre_cientifico').prop('checked', true);
			$('#nombre_cientifico').hide();
			$('#seleccion_nombre_comun').hide();
			$('#nombre_comun').hide();
		}
	)

	//////////////////////////////////////////
	// Funcionamiento de la vista
	//////////////////////////////////////////

	/* Activando y descativando los campos apropiados, dependiendo de si se
	marcan las casillas o no, y dependiendo del valor seleccionado en la combobox*/

	$('#hay_nombre_cientifico').change
	(
		function()
		{
			if($(this).prop('checked'))
			{
				$('#seleccion_nombre_cientifico').fadeIn();
				if($('#seleccion_nombre_cientifico').val() == "Otros")
				{
					$('#nombre_cientifico').fadeIn();
				}
			}
			else
			{
				$('#seleccion_nombre_cientifico').fadeOut();
				$('#nombre_cientifico').fadeOut();
			}
		}
	)

	$('#hay_nombre_comun').change
	(
		function()
		{
			if($(this).prop('checked'))
			{
				$('#seleccion_nombre_comun').fadeIn();
				if($('#seleccion_nombre_comun').val() == "Otros")
				{
					$('#nombre_comun').fadeIn();
				}
			}
			else
			{
				$('#seleccion_nombre_comun').fadeOut();
				$('#nombre_comun').fadeOut();
			}
		}
	)

	/* Activando y desactivando el campo para ingresar el nombre a mano,
	dependiendo de si se seleccionó "otros" en la combobox correspondiente*/

	$('#seleccion_nombre_cientifico').change
	(
		function()
		{
			if($(this).val() == "Otros")
			{
				$('#nombre_cientifico').fadeIn();
			}
			else
				$('#nombre_cientifico').fadeOut();
		}
	)

	$('#seleccion_nombre_comun').change
	(
		function()
		{
			if($(this).val() == "Otros")
			{
				$('#nombre_comun').fadeIn();
			}
			else
				$('#nombre_comun').fadeOut();
		}
	)

	// Los campos de clase double no deben contener comas*

	$('.double').change
	(
		function()
		{
			var comaReg = /,/;
			if(comaReg.test($(this).val()))
			{
				alert('Favor de utilizar punto decimal, no coma. Ejemplo: 9.34');
				$(this).val("");
			}
		}
	)

	// La "distancia_aproximada" debe ser menor a 60m

	$('#distancia_aproximada').change
	(
		function()
		{
			if($(this).val())
			{
				if($(this).val() > 60)
				{
					alert('La distancia aproximada debe ser menor o igual a 60m');
					$(this).val("");
				}
			}
		}
	)

	//////////////////////////////////////////
	// Validaciones a la hora de enviar la forma
	//////////////////////////////////////////


	$('form').submit
	(
		function()
		{
			// Validando los campos obligatorios

			flag = true;
			campos = $('.obligatorio');
			campos.each(
				function(){
					if(!$(this).val())
					{
						flag = false;
					}
				}
			);

			/* Sin embargo, como el campo de "sitio_muestra_id" es generado por
			medio de AJAX; no entra en la validación anterior. Lo tenemos que
			validar aparte: */

			if(!$('#shadow_clone').find('select:first').val())
			{
				flag = false;
				//alert('Falta llenar el sitio');
			}

			// Lo mismo para el campo de "punto_conteo_aves_id":
			if(!$('#shadow_clone_2').find('#punto_conteo_aves_id').val())
			{
				flag = false;
				//alert('No se encontró ningún punto de conteo de aves en el sitio seleccionado');
			}

			/* faltanNombres es un indicador para enviar un mensaje que indique
			que es necesario que se escriban ya sea el nombre común o el
			científico de la especie.*/

			faltanNombres = false;

			/* En términos generales, primero se verifica al menos una casilla
			(correspondiente a algún nombre) esté marcada, y luego, que los
			nombres que se marcaron estén correctamente registrados. Para saber
			los detalles de cada condición, ver el alert() correspondiente. */

			if(!$('#hay_nombre_comun').prop('checked') &&
				!$('#hay_nombre_cientifico').prop('checked')){
				flag = false;
				faltanNombres = true;
				//alert('Caso 1: ninguna casilla marcada');
			}

			else
			{
				if($('#hay_nombre_comun').prop('checked'))
				{
					if(!$('#seleccion_nombre_comun').val())
					{
						flag = false;
						faltanNombres = true;
						//alert('Caso 2: se indica que hay nombre común pero no se selecciona nada');
					}
					else if($('#seleccion_nombre_comun').val() == "Otros" && !$('#nombre_comun').val())
					{
						flag = false;
						faltanNombres = true;
						//alert('Caso 3: se indica que se va a ingresar el nombre común a mano, pero no se hizo');
					}
				}

				if($('#hay_nombre_cientifico').prop('checked'))
				{
					if(!$('#seleccion_nombre_cientifico').val())
					{
						flag = false;
						faltanNombres = true;
						//alert('Caso 4: se indica que hay nombre científico pero no se selecciona nada');
					}
					else if($('#seleccion_nombre_cientifico').val()=="Otros" && !$('#nombre_cientifico').val())
					{
						flag = false;
						faltanNombres = true;
						//alert('Caso 5: se indica que se va a ingresar el nombre científico a mano, pero no se hizo');
					}
				}
			}

			// Validando que al menos una casilla de observación visual/sonora esté marcada:

			faltaTipo = false;

			if(!$('#es_visual').prop('checked') && !$('#es_sonora').prop('checked'))
			{
				faltaTipo = true;
				flag = false;
			}

			// Juntando todas las validaciones:

			if(!flag)
			{
				if(faltanNombres)
					alert('Faltó ingresar algún nombre (común o científico)');
				else if(faltaTipo)
					alert('Favor de indicar si la observación es visual, sonora o ambas')
				else
					alert('Faltó llenar algún campo.');
				return false;
			}
		}
	)

</script>