{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

/* TablaCONANP se refiere a una tabla tipo formulario en papel (tomada tal cuál)
de los formularios de trabajo de campo*/

    .Tabla .generic-widget, .Tabla .Estatico
    {
        margin-right: 2cm;
        width: 4.4cm;
    }


    .TablaCONANP .integer, .TablaCONANP .string, .TablaCONANP .double
    {
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        width: 2.5cm;
        text-align: center;
    }
    
    .TablaCONANP .generic-widget
    {
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        width: 2.9cm;
    }
    
    .FlotaIzquierda
    {
        float: left;
    }

    .Centrar
    {
        text-align: center;
    }

    .CentrarV
    {
        vertical-align: middle;
    }

</style>
{{end}}
{{#=response.toolbar()}}

<form action="" enctype="multipart/form-data" method="post">
    <input type="hidden" name="_formname" value="formaArbolTransectoHTML"/>
    <fieldset>
        <legend>
            Árboles pequeños y arbustos
        </legend>
        <table class="Tabla">
            <tr>
                <td>
                    <div>
                        <label for="tabla_conglomerado_muestra_id">Conglomerado</label>
                    </div>
                    <div>
                        <!--este campo sólo sirve para encontrar
                        con AJAX los sitios existentes asociados al conglomerado
                        elegido, al enviar la forma al controlador, se utilizará
                        para guardar el registro de la cámara, únicamente el id
                        del sitio (de la dropdown generada mediante AJAX)-->
                        <select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
                            <option value=""/>
                            {{for conglomerado in listaConglomerado:}}
                                <option value="{{=conglomerado.id}}">
                                    {{=conglomerado.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>                
                <td>
                    <div class="Estatico">
                        <label for="tabla_sitio_muestra_id">Sitio</label>
                    </div>
                    <!-- El ID es para cambiar la lista de sitios asociados a un conglomerado dinámicamente, utilizando AJAX-->
                    <div id="shadow_clone">
                        <select class="generic-widget" name="sitio_muestra_id" id="tabla_sitio_muestra_id">
                            <option value=""/>
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <label for="tabla_transecto">Transecto</label>
                    </div>
                    <div>
                        <select class="generic-widget obligatorio" name="transecto" id="tabla_transecto">
                            <option value=""/>
                            {{for transecto in listaTransecto:}}
                                <option value="{{=transecto.nombre}}">
                                    {{=transecto.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>
            </tr>
        </table>
        <hr/>

        <table class="TablaCONANP">
            <tr>
                <th colspan="2" class="Centrar"># Individuo</th>
                <th class="Centrar">Nombre<br/>común</th>
                <th class="Centrar">Nombre<br/>científico</th>
                <th class="Centrar">Forma de vida</th>
                <th class="Centrar">Distancia<br/>de copa (cm)</th>
                <th class="Centrar">Altura (cm)</th>
            </tr>
        

            {{for i in range(10):}}              
                <!-- Nombres auxiliares para la vista -->
                <!-- la variable Arbol_i se utiliza para administrar el fade-in fade-out -->
                {{Arbol_i = 'Arbol_' + str(i+1)}}

                <!-- Creamos los nombres de los campos y las tablas -->
                {{existe_i = 'existe_' + str(i+1)}}
                {{tabla_existe_i = 'tabla_' + existe_i}}

                {{individuo_numero_i = 'individuo_numero' + str(i+1)}}
                {{tabla_individuo_numero_i = 'tabla_' + individuo_numero_i}}

                {{nombre_comun_i = 'nombre_comun_' + str(i+1)}}
                {{tabla_nombre_comun_i = 'tabla_' + nombre_comun_i}}

                {{nombre_cientifico_i = 'nombre_cientifico_' + str(i+1)}}
                {{tabla_nombre_cientifico_i = 'tabla_' + nombre_cientifico_i}}

                {{forma_vida_i = 'forma_vida_' + str(i+1)}}
                {{tabla_forma_vida_i = 'tabla_' + forma_vida_i}}

                {{distancia_copa_i = 'distancia_copa_' + str(i+1)}}
                {{tabla_distancia_copa_i = 'tabla_' + distancia_copa_i}}

                {{altura_i = 'altura_' + str(i+1)}}
                {{tabla_altura_i = 'tabla_' + altura_i}}

                <tr>
                    <td class="Centrar">
                            <input class="boolean" name="{{=existe_i}}" id="{{=tabla_existe_i}}" type="checkbox" value="on"/>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="integer" name="{{=individuo_numero_i}}" id="{{=tabla_individuo_numero_i}}" type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="string" name="{{=nombre_comun_i}}" id="{{=tabla_nombre_comun_i}}" type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="string" name="{{=nombre_cientifico_i}}" id="{{=tabla_nombre_cientifico_i}}" type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <select class="generic-widget" name="{{=forma_vida_i}}" id="{{=tabla_forma_vida_i}}">
                                <option value=""/>
                                {{for forma_vida in listaFormaVida:}}
                                    <option value="{{=forma_vida.nombre}}">
                                        {{=forma_vida.nombre}}
                                    </option>
                                {{pass}}
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="double" name="{{=distancia_copa_i}}" id="{{=tabla_distancia_copa_i}}" type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="double" name="{{=altura_i}}" id="{{=tabla_altura_i}}" type="text" value=""/>
                        </div>
                    </td>
                </tr>
            {{pass}}
        </table>
        <hr/>  
        <div> 
            <p>
                <strong>
                    Si faltan registros por ingresar favor de llenar una nueva forma 
                    con la información restante.
                </strong>
            </p>
        </div>  
        <br/> 
    </fieldset>
    <input type="submit" value="Enviar" class="btn FlotaIzquierda"/>
</form>

<br/>
<br/>

<fieldset>
<legend>
  Revisión de registros
</legend>
</fieldset>
{{=grid}}


{{#=BEAUTIFY(request.vars)}}

<script>

    //AJAX para llenar la combobox con los sitios existentes al elegir el conglomerado
    $('#tabla_conglomerado_muestra_id').change
    (
        function()
        {
            $('#tabla_sitio_muestra_id').remove();

            //ajax es una función de Web2py que simplifica la función homónima de JQuery
            //recibe el URL destino, los nombres de los campos que se enviarán y el ID
            // del elemento donde se insertará la respuesta
            ajax("{{=URL('asignarSitios')}}", ['conglomerado_muestra_id'], 'shadow_clone');
        }
       )

    //Validando, para ello utilizamos la clase "obligatorio":
    $('form').submit
    (
         function()
         {
            flag =true;
            // flag faltanNombres se ocupa para validar que escriban nombre común y/o nombre científico
            faltanNombres = false;
            campos=$('.obligatorio');
            campos.each(function() 
            {
                if(!$(this).val())
                {
                    flag = false;
                }
            }
            );

            /*Validando que los campos correspondientes a un árbol estén 
            llenos si estos existen*/
            if($('#tabla_existe_1').prop('checked'))
            {
                campos=$('.Arbol_1 input, .Arbol_1 select');
                campos.each(function() 
                {
                    // validar que escriban nombre común y/o nombre científico
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_1')
                    var c = $('#tabla_nombre_cientifico_1')
                    // si "a" es el campo es correspondiente a nombre común o a 
                    // nombre científico se revisa que al menos uno de estos esté lleno
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    // si es algún otro campo se valida que no este vacío
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_2').prop('checked'))
            {
                campos=$('.Arbol_2 input, .Arbol_2 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_2')
                    var c = $('#tabla_nombre_cientifico_2')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_3').prop('checked'))
            {
                campos=$('.Arbol_3 input, .Arbol_3 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_3')
                    var c = $('#tabla_nombre_cientifico_3')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_4').prop('checked'))
            {
                campos=$('.Arbol_4 input, .Arbol_4 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_4')
                    var c = $('#tabla_nombre_cientifico_4')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_5').prop('checked'))
            {
                campos=$('.Arbol_5 input, .Arbol_5 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_5')
                    var c = $('#tabla_nombre_cientifico_5')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_6').prop('checked'))
            {
                campos=$('.Arbol_6 input, .Arbol_6 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_6')
                    var c = $('#tabla_nombre_cientifico_6')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_7').prop('checked'))
            {
                campos=$('.Arbol_7 input, .Arbol_7 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_7')
                    var c = $('#tabla_nombre_cientifico_7')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_8').prop('checked'))
            {
                campos=$('.Arbol_8 input, .Arbol_8 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_8')
                    var c = $('#tabla_nombre_cientifico_8')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_9').prop('checked'))
            {
                campos=$('.Arbol_9 input, .Arbol_9 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_9')
                    var c = $('#tabla_nombre_cientifico_9')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_10').prop('checked'))
            {
                campos=$('.Arbol_10 input, .Arbol_10 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_10')
                    var c = $('#tabla_nombre_cientifico_10')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            //Sin embargo, como el campo de "sitio_muestra_id" es generado por
            //medio de AJAX; no entra en la validación anterior. Lo tenemos que
            //validar aparte:
            if(!$('#shadow_clone').find('select:first').val())
            {
                flag = false;
            //    alert('Faltó llenar el sitio');
            }
            if(!flag)
            {
                if(faltanNombres)
                    alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                else
                    alert('Faltó llenar algún campo');
                return false;
            }


        }

    )

    $(document).ready
    (
        function()
        {
           for(i=1; i<=10; i++)
           {
                tabla_existe_i = '#tabla_existe_'.concat(i);
                Arbol_i = '.Arbol_'.concat(i);
                if(i <= 5){
                    $(tabla_existe_i).prop('checked', true);
                    $(Arbol_i).show();
                }
                else{
                    $(Arbol_i).hide();
                }
             
            }
        }
     )
    
    /*Cuando se cambia el valor de la casilla "existe" asociada a un cuadrante, se sombrean
    o reaparecen los campos correspondientes, dependiendo si el árbol existe o no.*/
    
    $('#tabla_existe_1').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_1').fadeIn();
            else
                $('.Arbol_1').fadeOut();
        }
    )
    $('#tabla_existe_2').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_2').fadeIn();
            else
                $('.Arbol_2').fadeOut();
        }
    )
    $('#tabla_existe_3').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_3').fadeIn();
            else
                $('.Arbol_3').fadeOut();
        }
    )
    $('#tabla_existe_4').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_4').fadeIn();
            else
                $('.Arbol_4').fadeOut();
        }
    )
    $('#tabla_existe_5').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_5').fadeIn();
            else
                $('.Arbol_5').fadeOut();
        }
    )
    $('#tabla_existe_6').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_6').fadeIn();
            else
                $('.Arbol_6').fadeOut();
        }
    )
    $('#tabla_existe_7').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_7').fadeIn();
            else
                $('.Arbol_7').fadeOut();
        }
    )
    $('#tabla_existe_8').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_8').fadeIn();
            else
                $('.Arbol_8').fadeOut();
        }
    )
    $('#tabla_existe_9').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_9').fadeIn();
            else
                $('.Arbol_9').fadeOut();
        }
    )
    $('#tabla_existe_10').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_10').fadeIn();
            else
                $('.Arbol_10').fadeOut();
        }
    )
</script>
