{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

    .Tabla .integer
    {
        margin-right: 0.5cm;
        width: 2cm;
        text-align: center;
    }
    
    .Tabla .generic-widget
    {
    	margin-right: 2cm;
        width: 4cm;
    }
    
    .FlotaIzquierda
    {
        float: left;
    }

</style>
{{end}}
{{#=response.toolbar()}}

<form action="" enctype="multipart/form-data" method="post">
    <input type="hidden" name="_formname" value="formaTransectosRamasHTML"/>
    <fieldset>
        <legend>
            Frecuencias por grosor del material
        </legend>
        <table class="Tabla">
            <tr>
                <td>
                    <div>
                        <label for="tabla_conglomerado_muestra_id">Conglomerado</label>
                    </div>
                    <div>
                        <!--este campo sólo sirve para encontrar
                        con AJAX los sitios existentes asociados al conglomerado
                        elegido, al enviar la forma al controlador, se utilizará
                        para guardar el registro de la cámara, únicamente el id
                        del sitio (de la dropdown generada mediante AJAX)-->
                        <select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
                            <option value=""/>
                            {{for conglomerado in listaConglomerado:}}
                                <option value="{{=conglomerado.id}}">
                                    {{=conglomerado.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>                
                <td>
                    <div>
                        <label for="tabla_sitio_muestra_id">Sitio</label>
                    </div>
                    <!-- El ID es para cambiar la lista de sitios asociados a un conglomerado dinámicamente, utilizando AJAX-->
                    <div id="shadow_clone">
                        <select class="generic-widget" name="sitio_muestra_id" id="tabla_sitio_muestra_id">
                            <option value=""/>
                        </select>
                    </div>
                </td>
            </tr>
        </table>

        <!--<legend>
            Frecuencias por grosor del material
        </legend>-->
        <hr/>

        <table class="Tabla">
            <tr>
                <th>Transecto</th>
                <th>Pendiente</th>
                <th>1h (10-15m)</th>
                <th>10h (10-15m)</th>
                <th>100h (0-15m)</th>
            </tr>
            <tr>
                <td>1. Norte</td>
                <td>
                    <input class="integer obligatorio" name="pendiente_1N" id="tabla_pendiente_1N" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_1h_1N" id="tabla_abundancia_1h_1N" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_10h_1N" id="tabla_abundancia_10h_1N" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_100h_1N" id="tabla_abundancia_100h_1N" type="text" value=""/>
                </td>
            </tr>
            <tr>
                <td>2. Este</td>
                <td>
                    <input class="integer obligatorio" name="pendiente_2E" id="tabla_pendiente_2E" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_1h_2E" id="tabla_abundancia_1h_2E" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_10h_2E" id="tabla_abundancia_10h_2E" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_100h_2E" id="tabla_abundancia_100h_2E" type="text" value=""/>
                </td>
            </tr>
            <tr>
                <td>3. Sur</td>
                <td>
                    <input class="integer obligatorio" name="pendiente_3S" id="tabla_pendiente_3S" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_1h_3S" id="tabla_abundancia_1h_3S" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_10h_3S" id="tabla_abundancia_10h_3S" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_100h_3S" id="tabla_abundancia_100h_3S" type="text" value=""/>
                </td>
            </tr>
            <tr>
                <td>4. Oeste</td>
                <td>
                    <input class="integer obligatorio" name="pendiente_4W" id="tabla_pendiente_4W" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_1h_4W" id="tabla_abundancia_1h_4W" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_10h_4W" id="tabla_abundancia_10h_4W" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="abundancia_100h_4W" id="tabla_abundancia_100h_4W" type="text" value=""/>
                </td>
            </tr>
        </table>
    </fieldset>
    <input type="submit" value="Enviar" class="btn FlotaIzquierda"/>
</form>


<script>

    //AJAX para llenar la combobox con los sitios existentes al elegir el conglomerado
    $('#tabla_conglomerado_muestra_id').change
    (
        function()
        {
            $('#tabla_sitio_muestra_id').remove();

            //ajax es una función de Web2py que simplifica la función homónima de JQuery
            //recibe el URL destino, los nombres de los campos que se enviarán y el ID
            // del elemento donde se insertará la respuesta
            ajax("{{=URL('asignarSitios')}}", ['conglomerado_muestra_id'], 'shadow_clone');
        }
    )

    //AJAX para evitar que se envíe la información de los transectos correspondientes
    //a un sitio más de una vez:
    $('#shadow_clone').on('change', '#tabla_sitio_muestra_id', function (){
        $.ajax
        (
        {
            type: "POST",
            data: $('#tabla_sitio_muestra_id').serialize(),
            url: "{{=URL('transectosExistentes')}}",
                success: function(resultado)
                {
                        //alert(resultado);
                        if(resultado>=1)
                        {
                            alert('Los transectos correspondientes a este sitio ya han sido declarados');
                            $('#tabla_sitio_muestra_id').val("");
                        }
                }
        }
        );
    }
    );

    //Validando, para ello utilizamos la clase "obligatorio":
    $('form').submit
    (
         function()
         {
            flag =true;
            campos=$('.obligatorio');
            campos.each(function() 
            {
                if(!$(this).val())
                {
                    flag = false;
                }
            }
            );

            //Sin embargo, como el campo de "sitio_muestra_id" es generado por
            //medio de AJAX; no entra en la validación anterior. Lo tenemos que
            //validar aparte:
            if(!$('#shadow_clone').find('select:first').val())
            {
                flag = false;
                //alert('Falta llenar el sitio');
            }

            if(!flag)
            {
                alert('Faltó llenar algún campo');
                return false;
            }

        }
    )
    
</script>