{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

    .Tabla .generic-widget, .Estatica
    {
        margin-right: 2cm;
        width: 4.4cm;
    }
    
    #enviar
    {
        float: left;
    }

</style>
{{end}}

<form action="" enctype="multipart/form-data" method="post">
    <input type="hidden" name="_formname" value="formaArchivosCamaraHTML"/>
    <fieldset>
        <legend>
            Localización de la cámara
        </legend>
        <table class="Tabla">
        	<tr>
        		<td>
                    <div>
                        <label for="tabla_conglomerado_muestra_id">Conglomerado</label>
                    </div>
                    <div class="Estatica">
                        <!--este campo (y el de sitio), en realidad sólo sirven 
                        para encontrar con AJAX las cámaras que han sido declaradas
                        en el sitio elegido. Al enviar la forma al controlador,
                        se utilizará para registrar los archivos, únicamente el 
                        id de la cámara (de la dropdown generada mediante AJAX)-->
                        <select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
                            <option value=""/>
                            {{for conglomerado in listaConglomerado:}}
                                <option value="{{=conglomerado.id}}">
                                    {{=conglomerado.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>                
                <td>
                	<div class="Estatica">
                    	<div>
                        	<label for="tabla_sitio_muestra_id">Sitio</label>
                    	</div>
                    	<!-- El ID es para cambiar la lista de sitios asociados a un conglomerado dinámicamente, utilizando AJAX-->
                    	<div id="shadow_clone">
                        	<select class="generic-widget" name="sitio_muestra_id" id="tabla_sitio_muestra_id">
                            	<option value=""/>
                        	</select>
                    	</div>
                	</div>
                </td>
                <td>
                	<div class="Estatica">
                		<div>
                        	<label for="tabla_camara_id">Cámara</label>
                    	</div>
                    	<!-- El ID es para cambiar la lista de sitios asociados a un conglomerado dinámicamente, utilizando AJAX-->
                    	<div id="shadow_clone_2">
                        	<select class="generic-widget" name="camara_id" id="tabla_camara_id">
                            	<option value=""/>
                        	</select>
                    	</div>
                	</div>
                </td>
        	</tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>
            Subir imágenes y videos
        </legend>
        <div>
            <input class="obligatorio" type="file" id="tabla_archivos_camara" name="archivos_camara" multiple/>
        </div>
    </fieldset>
    <br/>
    <input type="submit" value="Enviar" class="btn" id="enviar"/>
</form>

<script>

    $(document).ready
    (
        function()
        {
        	/*Cuando el documento se carga, el campo de cámara está escondido
        	$('#conglomerado_muestra_id').val("");
        	$('.InfoCamara').hide();*/
        	alert('Si no se cargan todos los archivos al mismo tiempo, por favor, súbalos por partes, asignándolos siempre a la misma cámara.');
        }
    )

    //AJAX para llenar la combobox con los sitios existentes al elegir el conglomerado
    $('#tabla_conglomerado_muestra_id').change
    (
        function()
        {
            $('#tabla_sitio_muestra_id, #tabla_camara_id').remove();

            //ajax es una función de Web2py que simplifica la función homónima de JQuery
            //recibe el URL destino, los nombres de los campos que se enviarán y el ID
            // del elemento donde se insertará la respuesta
            
            ajax("{{=URL('asignarSitios')}}", ['conglomerado_muestra_id'], 'shadow_clone');

            ajax("{{=URL('asignarCamaras')}}", ['sitio_muestra_id'], 'shadow_clone_2');

            /* Finalmente, si no se selecciona un conglomerado (""), desaparece
            el campo de cámara, y además, se deben resetear los valores de esta úlima

            if(!$(this).val())
            {
            	$('.InfoCamara').fadeOut();
            	ajax("{{=URL('asignarCamaras')}}", ['sitio_muestra_id'], 'shadow_clone_2');
            }*/
        }
    );

    //AJAX para llenar la combobox con las cámaras declaradas al elegir un sitio
 	$('#shadow_clone').on('change', '#tabla_sitio_muestra_id', function ()
    {
        $('#tabla_camara_id').remove();

        //ajax es una función de Web2py que simplifica la función homónima de JQuery
        //recibe el URL destino, los nombres de los campos que se enviarán y el ID
        // del elemento donde se insertará la respuesta
        ajax("{{=URL('asignarCamaras')}}", ['sitio_muestra_id'], 'shadow_clone_2');

        /* Finalmente, si se selecciona un sitio (no ""), aparece el campo de cámara.

        if($(this).val())
        {
            $('.InfoCamara').fadeIn();
        }
        else
            $('.InfoCamara').fadeOut();*/
    }
    );

    //Validando, para ello utilizamos la clase "obligatorio":
    $('form').submit
    (
       function()
       {
            flag =true;
            campos=$('.obligatorio');
            campos.each(function() 
            {
                if(!$(this).val())
                {
                    flag = false;
                }
            }
            );

            //Validando que la fecha esté en formato adecuado para que Web2py no tenga problemas:
            var fechaReg = /^\d{4}\-\d{2}-\d{2}$/;
            campos_fecha=$('.date');
            flag_m = true;
            campos_fecha.each(function() 
            {
                if(!fechaReg.test($(this).val()))
                {
                   flag_m = false;
                }
             }
            );

            //Sin embargo, como el campo de "sitio_muestra_id" es generado por
            //medio de AJAX; no entra en la validación anterior. Lo tenemos que
            //validar aparte:
            if(!$('#shadow_clone').find('select:first').val())
            {
                flag = false;
                //alert('Falta llenar el sitio');
            }

            //Lo mismo para el campo de "camara_id":
            if(!$('#shadow_clone_2').find('select:first').val())
            {
                flag = false;
                //alert('Falta llenar la cámara');
            }

            if(!flag)
            {
                alert('Faltó llenar un campo o subir alguna imagen');
                return false;
            }
            else if(!flag_m)
            {
                alert('El formato de fecha es aaaa-mm-dd');
                return false;
            }
        }
    );

</script>
