{{extend 'layout.html'}}

<form>
    <fieldset>
        <legend>
            Seleccionar imagen
        </legend>
        <select class="generic-widget" name="foto" id="tabla_foto">
            <option value=""/>
            {{for fotoCamara in fotosCamara:}}
            <option value="{{=fotoCamara.id}}">
                {{=fotoCamara.archivo_nombre_original}}
            </option>
            {{pass}}
        </select>
    </fieldset>
</form>

<div id="shadow_clone">
    <form id='forma_shadow'>
    </form>
</div>

<script>

    //AJAX para llenar la pestaña de revisión de fotografías
	$('#tabla_foto').change
	(
    	function()
    	{
    		$('#forma_shadow').remove();

            //ajax es una función de Web2py que simplifica la función homónima de JQuery
            //recibe el URL destino, los nombres de los campos que se enviarán y el ID
            // del elemento donde se insertará la respuesta
    		ajax("{{=URL('obtenerFotografia')}}", ['foto'], 'shadow_clone');
    	}
   	)

    //AJAX para editar la información de una fotografia
    $('#shadow_clone').on('click', '#tabla_enviar', function (){
        $.ajax
        (
        {
            type: "POST",
            data: $('#forma_shadow').serialize(),
            url: "{{=URL('actualizarFotografia')}}",
            success: function()
            {
               alert('Registro actualizado exitosamente');
            }
        }
        );
    });

</script>
