{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

    .No_GPS .double, .No_GPS .date, .No_GPS .string, .No_GPS .time
    {
        margin-right: 2cm;
        width: 4cm;
    }
    
    .No_GPS .generic-widget
    {
    	margin-right: 2cm;
        width: 4.4cm;
    }

    .GPS .integer, .GPS .double
    {
        width: 2cm;
    }
    
    .GPS .generic-widget
    {
        width: 2.5cm;
    }
    
    .Centrar
    {
        text-align: center;
    }
    
    #enviar
    {
        float: left;
    }
</style>
{{end}}

{{=response.toolbar()}}

<form action="" enctype="multipart/form-data" method="post">
	<input type="hidden" name="_formname" value="formaHTML"/>
	<fieldset>
		<legend>
		Datos de la grabadora y los micrófonos
		</legend>
		<table class="No_GPS">
			<tr>
				<td>
					<div>
						<label for="tabla_conglomerado_muestra_id">Conglomerado</label>
					</div>
					<div>
						<select class="generic-widget" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
							<option value=""/>
							<option value="1">Gato</option>
						</select>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_sitio_numero">Sitio</label>
					</div>
					<div>
						<select class="generic-widget" name="sitio_numero" id="tabla_sitio_numero">
							<option value=""/>
							<option value="1">Café</option>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_distancia_centro">Distancia al centro del sitio (m)</label>
					</div>
					<div>
						<input class="double" name="distancia_centro" id="tabla_distancia_centro" type="text" value=""/>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<label for="tabla_fecha_inicio">Fecha de colocación</label>
					</div>
					<div>
						<input class="date" name="fecha_inicio" id="tabla_fecha_inicio" type="text" value=""/>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_hora_inicio">Hora inicio</label>
					</div>
					<div>
						<input class="time" name="hora_inicio" id="tabla_hora_inicio" type="text" value=""/>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_llovio">Llovió durante el muestreo</label>
					</div>
					<div>
						<input class="boolean" name="llovio" id="tabla_llovio" type="checkbox" value="on"/>
					</div>
				</td>
			</tr>
        	<tr>
        		<td>
					<div>
						<label for="tabla_fecha_termino">Fecha de levantamiento</label>
					</div>
					<div>
						<input class="date" name="fecha_termino" id="tabla_fecha_termino" type="text" value=""/>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_hora_termino">Hora término</label>
					</div>
					<div>
						<input class="time" name="hora_termino" id="tabla_hora_termino" type="text" value=""/>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_mojaron">Se mojaron los micrófonos</label>
					</div>
					<div>
						<input class="boolean" name="microfonons_mojados" id="tabla_mojaron" type="checkbox" value="on"/>
					</div>
				</td>
				<td>
				</td>
			</tr>
    	</table>
    	<table class="GPS">
    		<tr>
    			<th colspan="3", class="Centrar">
                	Latitud
            	</th>
            	<th colspan="3", class="Centrar">
                	Longitud
            	</th>
            	<th>
                	<label for="tabla_elipsoide">Datum</label>
            	</th>
            	<th>
            		<label for="tabla_altitud">Altitud(m)</label>
            	</th>
            	<th>
            		<label for="tabla_gps_error">Error(m)</label>
            	</th>
            </tr>
            <tr>
            	<td>
            		<input class="integer" name="lat_grado" id="tabla_lat_grado" type="text" value="Grado"/>
            	</td>
            	<td>
            		<input class="integer" name="lat_min" id="tabla_lat_min" type="text" value="Minuto"/>
            	</td>
            	<td>
            		<input class="double" name="lat_seg" id="tabla_lat_seg" type="text" value="Segundo"/>
            	</td>
            	<td>
            		<input class="integer" name="lon_grado" id="tabla_lon_grado" type="text" value="Grado"/>
            	</td>
            	<td>
        			<input class="integer" name="lon_min" id="tabla_lon_min" type="text" value="Minuto"/>
            	</td>
            	<td>
            		<input class="double" name="lon_seg" id="tabla_lon_seg" type="text" value="Segundo"/>
            	</td>
            	<td>
        			<select class="generic-widget" name="elipsoide" id="tabla_elipsoide">
							<option value=""/>
							<option value="1">Café</option>
					</select>
            	</td>
            	<td>
            		<input class="double" name="altitud" id="tabla_altitud" type="text" value=""/>
            	</td>
            	<td>
            	    <input class="double" name="gps_error" id="tabla_gps_error" type="text" value=""/>
            	</td>
            </tr>
    	</table>
    	<table class="No_GPS">
    		<tr>
    			<td>
					<div>
						<label for="tabla_nombre">Código grabadora</label>
					</div>
					<div>
						<select class="generic-widget" name="nombre" id="tabla_nombre">
							<option value=""/>
							<option value="1">Café</option>
						</select>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_archivo_metadatos">Metadatos</label>
					</div>
					<div>
						<input type="file" id="tabla_archivo_metadatos" name="archivo_metadatos"/>
					</div>
				</td>
<!--					<div>
						<select class="generic-widget" name="metadatos" id="tabla_metadatos">
							<option value=""/>
							<option value="1">Café</option>
						</select>
					</div>  -->
				</td>
				<td>
					<div>
						<label for="tabla_imagen_ref_archivo_nombre">Foto grabadora</label>
					</div>
					<div>
						<input type="file" id="imagen_ref_archivo_nombre" name="imagen_grabadora"/>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_imagen_ref_archivo_nombre_mic">Foto micrófonos</label>
					</div>
					<div>
						<input type="file" id="imagen_ref_archivo_nombre_mic" name="imagen_microfonos"/>
					</div>
				</td>

    		</tr>
    		<tr>
    			<td>
    				<div>
						<label for="tabla_archivos_grabadora">Subir archivos micrófono audible</label>
					</div>
					<div>
						<input type="file" id="tabla_archivos_grabadora" name="archivos_grabadora" multiple/>
					</div>
				</td>
				<td>
    				<div>
						<label for="tabla_archivos_microfonos">Subir archivos micrófono ultrasónico</label>
					</div>
					<div>
						<input type="file" id="tabla_archivos_" name="archivos_grabadora" multiple/>
					</div>
				</td> 
			</tr>
		</table>
    	<div>
    		<label for="tabla_comentario">Observaciones</label>
    	</div>
    	<div>
    	    <textarea class="text" cols="40" id="tabla_comentario" name="comentario" rows="10">
    	    </textarea>
    	</div>
	</fieldset>
	<input type="submit" value="Enviar" class="btn" id="enviar"/>
</form>
<!-- {{=BEAUTIFY(response._vars)}} -->