{{extend 'layout.html'}}

{{block head}}
	<style type="text/css">

		.No_GPS .double, .No_GPS .date, .No_GPS .string, .No_GPS .time
		{
			margin-right: 2cm;
			width: 4cm;
		}
		
		.No_GPS .generic-widget
		{
			margin-right: 2cm;
			width: 4.4cm;
		}

		.GPS .integer, .GPS .double
		{
			width: 2cm;
		}
		
		.GPS .generic-widget
		{
			width: 2.5cm;
		}

		.Centrar
		{
			text-align: center;
		}

		.CentrarV
		{
			vertical-align:middle;
		}
	   
		.FlotaIzquierda
		{
			float: left;
		}

	</style>
{{end}}

<form action="" enctype="multipart/form-data" method="post">
	<input type="hidden"  name="_formname" value="formaEspecieHTML"/>

	<fieldset>
		<legend>
			Registros adicionales: especies invasoras
		</legend>

		<table class="No_GPS">
			<tr>
				<td rowspan="2" class="CentrarV">
					<label for="conglomerado_muestra_id">Conglomerado</label>
					<select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="conglomerado_muestra_id">
						<option value=""/>
						{{for conglomerado in listaConglomerado:}}
							<option value="{{=conglomerado.id}}">
								{{=conglomerado.nombre}}
							</option>
						{{pass}}
					</select>
				</td>
				<td>
					<div class="FlotaIzquierda" style="padding-right:10px;">
						<label for="dentro_conglomerado">Dentro del conglomerado</label>
					</div>
					<input class="boolean" name="dentro_fuera_conglomerado" id="dentro_conglomerado" type="radio" value="dentro"/>
				</td>
				<td rowspan="2" class="CentrarV">
					<label for="tecnico">Técnico</label>
					<input class="string obligatorio" name="tecnico" id="tecnico" type="text" value=""/>
				</td>
			</tr>
			<tr>
				<td>
					<div class="FlotaIzquierda" style="padding-right:17px">
						<label for="fuera_conglomerado">Fuera del conglomerado</label>
					</div>
					<input class="boolean" name="dentro_fuera_conglomerado" id="fuera_conglomerado" type="radio" value="fuera"/>
				</td>
			</tr> 
			<tr>
				<td>
					<label for="fecha">Fecha</label>
					<input class="date obligatorio" name="fecha" id="fecha" type="text" value=""/>
				</td>
				<td>
					<label for="hora">Hora (24 horas)</label>
					<input class="time obligatorio" name="hora" id="hora" type="text" value=""/>
				</td>
				<td>
				</td>
			</tr>
		</table>

		<hr/>

		<table class="GPS">
			<tr>
				<th colspan="3", class="Centrar">
					Latitud
				</th>
				<th colspan="3", class="Centrar">
					Longitud
				</th>
				<th>
				</th>
				<th>
				</th>
				<th>
				</th>
			</tr>
			<tr>
				<th class="Centrar">
					<label for="lat_grado">Grado</label>
				</th>
				<th class="Centrar">
					<label for="lat_min">Minuto</label>
				</th>
				<th class="Centrar">
					<label for="lat_seg">Segundo</label>
				</th>
				<th class="Centrar">
					<label for="lon_grado">Grado</label>
				</th>
				<th class="Centrar">
					<label for="lon_min">Minuto</label>
				</th>
				<th class="Centrar">
					<label for="lon_seg">Segundo</label>
				</th>
				<th class="Centrar">                  
					<label for="elipsoide">Datum</label>
				</th>
				<th class="Centrar">
					<label for="altitud">Altitud (m)</label>
				</th>
				<th class="Centrar">
					<label for="gps_error">Error (m)</label>
				</th>
			</tr>
			<tr>
				<td>
					<input class="integer obligatorio lat_grado" name="lat_grado" id="lat_grado" type="text"/>
				</td>
				<td>
					<input class="integer obligatorio min" name="lat_min" id="lat_min" type="text"/>
				</td>
				<td>
					<input class="double obligatorio seg" name="lat_seg" id="lat_seg" type="text"/>
				</td>
				<td>
					<input class="integer obligatorio lon_grado" name="lon_grado" id="lon_grado" type="text"/>
				</td>
				<td>
					<input class="integer obligatorio min" name="lon_min" id="lon_min" type="text"/>
				</td>
				<td>
					<input class="double obligatorio seg" name="lon_seg" id="lon_seg" type="text"/>
				</td>
				<td>
					<select class="generic-widget obligatorio" name="elipsoide" id="elipsoide">
						<option value=""/>
						{{for elipsoide in listaElipsoide:}}
							<option value="{{=elipsoide.nombre}}">
								{{=elipsoide.nombre}}
							</option>
						{{pass}}
					</select>
				</td>
				<td>
					<input class="double obligatorio altitud" name="altitud" id="altitud" type="text" value=""/>
				</td>
				<td>
					<input class="double obligatorio gps_error" name="gps_error" id="gps_error" type="text" value=""/>
				</td>
			</tr>
		</table>
		<p>
			<strong>Nota importante</strong>: las coordenadas deben escribirse en grados, minutos y segundos. Por ejemplo: 25º13'46.53''. En este caso, en la casilla de "Grado" se escribirá 25, en la de "Minuto" 13, y en la de "Segundo" 46.53. Si las coordenadas leídas del GPS no tienen el formato anterior, por ejemplo, si están escritas como 25º13.7755' ó incluso como 25.2296º, hay que cambiar el formato. Para ello, utilizar la siguiente <a href = "http://rumkin.com/tools/gps/degrees.php" target = "_blank">calculadora</a>.
		</p>

		<hr/>

		<table class="No_GPS">
			<tr>
				<td rowspan="2" class="CentrarV">
					<label for="seleccion_conabio_lista">Lista CONABIO invasoras</label>
					<select class="generic-widget obligatorio" name="seleccion_conabio_lista" id="seleccion_conabio_lista">
						<option value=""/>
						{{for especie in listaInvasoras:}}
							<option value="{{=especie.nombre}}">
								{{=especie.nombre}}
							</option>
						{{pass}}
					</select>
				</td>   
				<td>
					<div class="Nombre FlotaIzquierda" style="padding-right:10px;">
						<input class="boolean" name="hay_nombre_comun" id="hay_nombre_comun" type="checkbox" value="on"/>
					</div>
					<div class="Nombre FlotaIzquierda" style="padding-right:22px;">
						<label for="nombre_comun">Nombre común</label>
					</div>
					<div class="FlotaIzquierda">
						<input class="string" name="nombre_comun" id="nombre_comun" type="text" value=""/>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="Nombre FlotaIzquierda" style="padding-right:10px;">
						<input class="boolean" name="hay_nombre_cientifico" id="hay_nombre_cientifico" type="checkbox" value="on"/>
					</div>
					<div class="Nombre FlotaIzquierda" style="padding-right:10px;">
						<label for="nombre_cientifico">Nombre científico</label>
					</div>
					<div class="FlotaIzquierda">
						<input class="string" name="nombre_cientifico" id="nombre_cientifico" type="text" value=""/>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<label for="numero_individuos">Número de individuos</label>
					<select class="generic-widget obligatorio" name="numero_individuos" id="numero_individuos">
						<option value=""/>
						{{for numIndividuos in listaNumIndividuos:}}
							<option value="{{=numIndividuos.nombre}}">
								{{=numIndividuos.nombre}}
							</option>
						{{pass}}
					</select>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<label for="archivos_invasora_extra">Subir archivos</label>
					<input class="obligatorio" type="file" id="archivos_invasora_extra" name="archivos_invasora_extra" multiple/>
				</td>
				<td>
				</td>
			</tr>
		</table>
		<label for="comentario">Observaciones</label>
		<textarea class="text" cols="40" id="comentario" name="comentario" rows="5"></textarea>
	</fieldset>
	<br/>
	<br/>
	<input type="submit" value="Enviar" class="btn FlotaIzquierda"/>
</form>

<br/>
<br/>

<fieldset>
	<legend>
		Revisión de registros
	</legend>
	{{=grid}}
</fieldset>

<script>

	//////////////////////////////////////////
	// Este código se ejecuta en cuanto el html termina de llegar al navegador:
	//////////////////////////////////////////

	$(document).ready(
		function(){
			/* Cuando el documento se carga, los campos para ingresar nombre
			están escondidos */
			// La clase Nombre engloba las checkbox y las etiquetas.

			$('.Nombre').hide();

			$('#nombre_comun').hide();
			$('#nombre_cientifico').hide();
		}
	)

	//////////////////////////////////////////
	// Funcionamiento de la vista
	//////////////////////////////////////////

	/* Fade in de los campos de ingreso de nombre de especie si no se encuentra
	en la lista.*/

	$('#seleccion_conabio_lista').change
	(
		function()
		{
			if($(this).val() == "Otros")
			{
				// Aparecen las casillas y etiquetas
				$('.Nombre').fadeIn();

				$('#hay_nombre_comun').prop('checked', true);
				$('#nombre_comun').fadeIn();

				$('#hay_nombre_cientifico').prop('checked', true);
				$('#nombre_cientifico').fadeIn();
			}
			else
			{
				$('#hay_nombre_comun').prop('checked', false);
				$('#nombre_comun').fadeOut();

				$('#hay_nombre_cientifico').prop('checked', false);
				$('#nombre_cientifico').fadeOut();

				$('.Nombre').fadeOut();
			}
		}
	)

	/* Fade in/out de los campos de ingreso de nombre común/científico, de
	acuerdo a si se marcó o no la casilla correspondiente*/

	$('#hay_nombre_comun').change
	(
		function()
		{
			if($(this).prop('checked'))
				$('#nombre_comun').fadeIn();
			else
				$('#nombre_comun').fadeOut();
		}
	)

	$('#hay_nombre_cientifico').change
	(
		function()
		{
			if($(this).prop('checked'))
				$('#nombre_cientifico').fadeIn();
			else
				$('#nombre_cientifico').fadeOut();
		}
	)
	  
	// Rangos de los campos:

	$('.min').change
	(
		function()
		{
			if($(this).val())
			{
				if($(this).val()<0 || $(this).val()>=60)
				{
					alert('Los minutos están en el rango de 0 a 59');
					$(this).val("");
				}
			}
		}
	)

	$('.seg').change
	(
		function()
		{
			if($(this).val())
			{
				if($(this).val()<0 || $(this).val()>=60)
				{
					alert('Los segundos están en el rango de 0 a 60');
					$(this).val("");
				}
			}
		}
	)

	$('.lat_grado').change
	(
		function()
		{
			if($(this).val())
			{
				if($(this).val()<13 || $(this).val()>33)
				{
					alert('Los grados correspondientes a latitud  están en el rango de 13 a 33');
					$(this).val("");
				}
			}
		}
	)

	$('.lon_grado').change
	(
		function()
		{
			if($(this).val())
			{
				if(($(this).val()<85 || $(this).val()>119) & ($(this).val()<-119 || $(this).val()>-85))
				{
					alert('Los grados correspondientes a longitud  están en el rango de 85 a 119 o en el rango -119 a -85');
					$(this).val("");
				}
			}
		}
	)

	$('.gps_error').change
	(
		function()
		{
			if($(this).val())
			{
				if($(this).val()<0)
				{
					alert('El error de precisión debe ser positivo');
					$(this).val("");
				}
			}
		}
	)
	  
	$('.altitud').change
	(
		function()
		{
			if($(this).val())
			{
				if($(this).val()<-10 || $(this).val()>5715)
				{
					alert('La altitud está en el rango -10 a 5715');
					$(this).val("");
				}
			}
		}
	)

	// Los campos de clase double no deben contener comas

	$('.double').change
	(
		function()
		{
			var comaReg = /,/;
			if(comaReg.test($(this).val()))
			{
				alert('Favor de utilizar punto decimal, no coma. Ejemplo: 9.34');
				$(this).val("");
			}
		}
	)

	//////////////////////////////////////////
	// Validaciones a la hora de enviar la forma
	//////////////////////////////////////////

	$('form').submit
	(
		function()
		{

			// Validando los campos obligatorios

			flag = true;

			campos = $('.obligatorio');
			campos.each(function() 
			{
				if(!$(this).val())
				{
				flag = false;
				}
			});

			/* Validando que la fecha esté en formato adecuado para que Web2py no
			tenga problemas. fechaReg es una expresión regular par validar el
			formato aaaa-mm-dd.*/

			var fechaReg = /^\d{4}\-(\d{2})-(\d{2})$/;
			campos_fecha = $('.date');
			flag_f = true;
			campos_fecha.each(function(){   
				if(!fechaReg.test($(this).val()))
				{
					flag_f = false;
				}
				// Revisando que el mes y el día estén en un rango aceptable:
				else
				{
					/* match contiene como primer elemento, el match de toda la
					regex, y como elementos posteriores, el match de los elementos
					en paréntesis de la regex (en órden). */
					var match = fechaReg.exec($(this).val());
					//alert(match);

					//Validando que el mes se encuentre en un rango aceptable:
					if(match[1]<1 || match[1]>12)
					{
						//alert('El mes es incorrecto');
						//alert(match[1]);
						flag_f = false;
					}

					//Validando que el día se encuentre en un rango aceptable:
					if(match[2]<1 || match[2]>31)
					{
						//alert('El día es incorrecto');
						//alert(match[2]);
						flag_f = false;
					}
				}
			});

			//Validando los radio-botones

			if(!$('input:radio[name=dentro_fuera_conglomerado]:checked').val())
			{
				flag = false;
				//alert('falta presionar un radio-botón');
			}

			/* faltanNombres es un indicador para enviar un mensaje que indique
			que es necesario que se escriban ya sea el nombre común o el
			científico de la especie (ésto es cuando la especie no se encuentra
			en la lista de invasoras)*/

			faltanNombres = false;

			// Si el nombre de la especie no se encuentra en la lista CONABIO:

			if($('#seleccion_conabio_lista').val() == "Otros")
			{
				//Si no se marcó ninguna casilla para ingresar el nombre

				if(!$('#hay_nombre_comun').prop('checked') && !$('#hay_nombre_cientifico').prop('checked'))
				{
					flag = false;
					faltanNombres = true;
					//alert('caso1');
				}
				else if($('#hay_nombre_comun').prop('checked') && !$('#nombre_comun').val())

				/*Si se marcó la casilla de nombre común pero no se escribió
				nada en el campo subsecuente.*/
				{
					flag = false;
					faltanNombres = true;
					//alert('caso2');
				}

				/* Si se marcó la casilla de nombre científico pero no se
				escribió nada en el campo subsecuente.*/

				else if($('#hay_nombre_cientifico').prop('checked') && !$('#nombre_cientifico').val())
				{
					flag = false;
					faltanNombres = true;
					//alert('caso3');
				}
			}

			if(!flag)
			{
				if(faltanNombres)
					alert('Favor de escribir al menos un nombre (ya sea común o científico)');
				else
					alert('Faltó llenar algún campo o subir alguna imagen.');
				return false;
			}
			else if(!flag_f)
			{
				alert('El formato de fecha es aaaa-mm-dd');
				return false;
			}
		}
	) 
</script>
