{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

    .No_GPS .integer, .No_GPS .date, .No_GPS .string, .No_GPS .double
    {
        margin-right: 2cm;
        width: 4cm;
    }
    
    .No_GPS .generic-widget
    {
    	margin-right: 2cm;
        width: 4.4cm;
    }

    .GPS .integer, .GPS .date, .GPS .string, .GPS .double
    {
        width: 2cm;
    }
    
    .GPS .generic-widget
    {
        width: 2.5cm;
    }
    
    .Centrar
    {
        text-align: center;
    }
    
    .FlotaIzquierda
    {
        float: left;
    }

</style>
{{end}}

{{#=response.toolbar()}}

<!-- <body onload="preventBack();" onpageshow="if (event.persisted) preventBack();" onunload=""> -->

<form action="" enctype="multipart/form-data" method="post">
    <input type="hidden" name="_formname" value="formaHTML"/>
    <fieldset class='No_GPS'>
        <legend>
            Datos del conglomerado
        </legend>
        <table>
            <tr>
                <td>
                    <div>
                        <label for="tabla_nombre">Número de conglomerado</label>
                    </div>
                    <div>
                        <input class="string obligatorio" name="nombre" id="tabla_nombre" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div>
                        <label for="tabla_fecha_visita">Fecha de visita</label>
                    </div>
                    <div>
                        <input class="date obligatorio" name="fecha_visita" id="tabla_fecha_visita" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div>
                        <label for="tabla_tipo">Tipo de conglomerado</label>
                    </div>
                    <div>
                        <select class="generic-widget obligatorio" name="tipo" id="tabla_tipo">
                            <option value=""/>
                            {{for tipo in listaTipo:}}
                                <option value="{{=tipo.nombre}}">
                                    {{=tipo.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <label for="tabla_compania">Compañía</label>
                    </div>
                    <div>
                        <input class="string obligatorio" name="compania" id="tabla_compania" type="text" value=""/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="tabla_estado">Estado</label>
                    </div>
                    <div>
                        <select class="generic-widget obligatorio" name="estado" id="tabla_estado">
                        <option value=""/>
                        {{for estado in listaEstado:}}
                            <option value="{{=estado.nombre}}">
                                {{=estado.nombre}}
                            </option>
                        {{pass}}
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <label for="tabla_municipio">Municipio</label>
                    </div>
                    <!-- El ID es para cambiar la lista de municipios asociados a un estado dinámicamente, utilizando AJAX-->
                    <div id="shadow_clone">
                        <select class="generic-widget" name="municipio" id="tabla_municipio">
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <label for="tabla_predio">Predio</label>
                    </div>
                    <div>
                        <input class="string obligatorio" name="predio" id="tabla_predio" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div>
                        <label for="tabla_tenencia">Tenencia</label>
                    </div>
                    <div>
                        <select class="generic-widget obligatorio" name="tenencia" id="tabla_tenencia">
                            <option value=""/>
                            {{for tenencia in listaTenencia:}}
                                <option value="{{=tenencia.nombre}}">
                                    {{=tenencia.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="tabla_uso_suelo_tipo">Tipo de uso de suelo</label>
                    </div>
                    <div>
                        <select class="generic-widget obligatorio" name="uso_suelo_tipo" id="tabla_uso_suelo_tipo">
                            <option value=""/>
                            {{for usoSuelo in listaUsoSuelo:}}
                                <option value="{{=usoSuelo.nombre}}">
                                    {{=usoSuelo.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>
                <td>
                    <!--La clase vegetación sirve para el JQuery que desvanece/reaparece el campo-->
                    <div class="Vegetacion">
                        <label for="tabla_vegetacion_tipo">Tipo de vegetación</label>
                    </div>
                    <div class="Vegetacion">
                        <select class="generic-widget" name="vegetacion_tipo" id="tabla_vegetacion_tipo">
                            <option value=""/>
                            {{for vegetacion in listaVegetacion:}}
                                <option value="{{=vegetacion.nombre}}">
                                    {{=vegetacion.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="Vegetacion">
                        <label for="tabla_perturbado">Perturbado</label>
                    </div>
                    <div class="Vegetacion">
                        <input class="boolean" name="perturbado" id="tabla_perturbado" type="checkbox" value="on"/>
                    </div>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <label for="tabla_comentario">Observaciones</label>
        <textarea class="text" cols="40" id="tabla_comentario" name="comentario" rows="5"></textarea>
    </fieldset>

    <fieldset class="GPS">
        <legend>
            Datos de los sitios y punto de control
        </legend>
        <table>
            <tr>
                <th></th>
                <th></th>
                <th colspan="3", class="Centrar">Latitud</th>
                <th colspan="3", class="Centrar">Longitud</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td class="Centrar">Existe</td>
                <td class="Centrar">Elemento</td>
                <td class="Centrar">Grado</td>
                <td class="Centrar">Minuto</td>
                <td class="Centrar">Segundo</td>
                <td class="Centrar">Grado</td>
                <td class="Centrar">Minuto</td>
                <td class="Centrar">Segundo</td>
                <td class="Centrar">Datum</td>
                <td class="Centrar">Altitud(m)</td>
                <td class="Centrar">Error(m)</td>
                <td class="Centrar">Evidencia<br/>anterior</td>
                <td class="Centrar">Archivo</td>
            </tr>
            <tr>
                <td></td>
                <td>Punto de control</td>                
                <td>
                    <input class="integer obligatorio" name="lat_grado_c" id="tabla_lat_grado_c" type="text" value=""/>
                </td>
                <!--Las clases min y seg sirven para validar las cotas superiores e inferiores de los grados-->
                <td>
                    <input class="integer obligatorio min" name="lat_min_c" id="tabla_lat_min_c" type="text" value=""/>
                </td>
                <td>
                    <input class="double obligatorio seg" name="lat_seg_c" id="tabla_lat_seg_c" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="lon_grado_c" id="tabla_lon_grado_c" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio min" name="lon_min_c" id="tabla_lon_min_c" type="text" value=""/>
                </td>
                <td>
                    <input class="double obligatorio seg" name="lon_seg_c" id="tabla_lon_seg_c" type="text" value=""/>
                </td>
                <td>
                    <select class="generic-widget obligatorio" name="elipsoide_c" id="tabla_elipsoide_c">
                        <option value=""/>
                        {{for elipsoide in listaElipsoide:}}
                            <option value="{{=elipsoide.nombre}}">
                                {{=elipsoide.nombre}}
                            </option>
                        {{pass}}
                    </select>
                </td>
                <td>
                    <input class="double obligatorio" name="altitud_c" id="tabla_altitud_c" type="text" value=""/>
                </td>
                <td>
                    <input class="double obligatorio" name="gps_error_c" id="tabla_gps_error_c" type="text" value=""/>
                </td>
                <td class="Centrar">
                    <input class="boolean" name="hay_evidencia_c" id="tabla_hay_evidencia_c" type="checkbox" value="on"/>
                </td>
                <td>
                    <input class="obligatorio" type="file" id="tabla_imagen_c" name="imagen_c"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Centro
                </td>
                <td>
                    <input class="integer obligatorio" name="lat_grado_1" id="tabla_lat_grado_1" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio min" name="lat_min_1" id="tabla_lat_min_1" type="text" value=""/>
                </td>
                <td>
                    <input class="double obligatorio seg" name="lat_seg_1" id="tabla_lat_seg_1" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio" name="lon_grado_1" id="tabla_lon_grado_1" type="text" value=""/>
                </td>
                <td>
                    <input class="integer obligatorio min" name="lon_min_1" id="tabla_lon_min_1" type="text" value=""/>
                </td>
                <td>
                    <input class="double obligatorio seg" name="lon_seg_1" id="tabla_lon_seg_1" type="text" value=""/>
                </td>
                <td>
                    <select class="generic-widget obligatorio" name="elipsoide_1" id="tabla_elipsoide_1">
                        <option value=""/>
                        {{for elipsoide in listaElipsoide:}}
                            <option value="{{=elipsoide.nombre}}">
                                {{=elipsoide.nombre}}
                            </option>
                        {{pass}}
                    </select>
                </td>
                <td>
                    <input class="double obligatorio" name="altitud_1" id="tabla_altitud_1" type="text" value=""/>
                </td>
                <td>
                    <input class="double obligatorio" name="gps_error_1" id="tabla_gps_error_1" type="text" value=""/>
                </td>
                <td class="Centrar">
                    <input class="boolean" name="hay_evidencia_1" id="tabla_hay_evidencia_1" type="checkbox" value="on"/>
                </td>
                <td>
                    <input class="obligatorio" type="file" id="tabla_imagen_1" name="imagen_1"/>
                </td>
            </tr>
            <tr>
                <td class="Centrar">
                    <input class="boolean" name="existe_2" id="tabla_existe_2" type="checkbox" value="on"/>
                </td>
                <td>
                    Sitio 2
                </td>
                <td>
                    <div class="Sitio_info_2">
                        <input class="integer" name="lat_grado_2" id="tabla_lat_grado_2" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_2">
                        <input class="integer min" name="lat_min_2" id="tabla_lat_min_2" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_2">
                        <input class="double seg" name="lat_seg_2" id="tabla_lat_seg_2" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_2">
                        <input class="integer" name="lon_grado_2" id="tabla_lon_grado_2" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_2">
                        <input class="integer min" name="lon_min_2" id="tabla_lon_min_2" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_2">
                        <input class="double seg" name="lon_seg_2" id="tabla_lon_seg_2" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_2">
                        <select class="generic-widget" name="elipsoide_2" id="tabla_elipsoide_2">
                            <option value=""/>
                            {{for elipsoide in listaElipsoide:}}
                                <option value="{{=elipsoide.nombre}}">
                                    {{=elipsoide.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_2">
                        <input class="double" name="altitud_2" id="tabla_altitud_2" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_2">
                        <input class="double" name="gps_error_2" id="tabla_gps_error_2" type="text" value=""/>
                    </div>
                </td>
                <td class="Centrar">
                    <div class="Sitio_info_2">
                        <input class="boolean" name="hay_evidencia_2" id="tabla_hay_evidencia_2" type="checkbox" value="on"/>
                    </div>
                </td>                
                <td>
                    <div class="Sitio_info_2">
                        <input type="file" id="tabla_imagen_2" name="imagen_2"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="Centrar">
                    <input class="boolean" name="existe_3" id="tabla_existe_3" type="checkbox" value="on"/>
                </td>
                <td>
                    Sitio 3
                </td>
                <td>
                    <div class="Sitio_info_3">
                        <input class="integer" name="lat_grado_3" id="tabla_lat_grado_3" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_3">
                        <input class="integer min" name="lat_min_3" id="tabla_lat_min_3" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_3">
                        <input class="double seg" name="lat_seg_3" id="tabla_lat_seg_3" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_3">
                        <input class="integer" name="lon_grado_3" id="tabla_lon_grado_3" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_3">
                        <input class="integer min" name="lon_min_3" id="tabla_lon_min_3" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_3">
                        <input class="double seg" name="lon_seg_3" id="tabla_lon_seg_3" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_3">
                        <select class="generic-widget" name="elipsoide_3" id="tabla_elipsoide_3">
                            <option value=""/>
                            {{for elipsoide in listaElipsoide:}}
                                <option value="{{=elipsoide.nombre}}">
                                    {{=elipsoide.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_3">
                        <input class="double" name="altitud_3" id="tabla_altitud_3" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_3">
                        <input class="double" name="gps_error_3" id="tabla_gps_error_3" type="text" value=""/>
                    </div>
                </td>
                <td class="Centrar">
                    <div class="Sitio_info_3">
                        <input class="boolean" name="hay_evidencia_3" id="tabla_hay_evidencia_3" type="checkbox" value="on"/>
                    </div>
                </td>                
                <td>
                    <div class="Sitio_info_3">
                        <input type="file" id="tabla_imagen_3" name="imagen_3"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="Centrar">
                    <input class="boolean" name="existe_4" id="tabla_existe_4" type="checkbox" value="on"/>
                </td>
                <td>
                    Sitio 4
                </td>
                <td>
                    <div class="Sitio_info_4">
                        <input class="integer" name="lat_grado_4" id="tabla_lat_grado_4" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_4">
                        <input class="integer min" name="lat_min_4" id="tabla_lat_min_4" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_4">
                        <input class="double seg" name="lat_seg_4" id="tabla_lat_seg_4" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_4">
                        <input class="integer" name="lon_grado_4" id="tabla_lon_grado_4" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_4">
                        <input class="integer min" name="lon_min_4" id="tabla_lon_min_4" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_4">
                        <input class="double seg" name="lon_seg_4" id="tabla_lon_seg_4" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_4">
                        <select class="generic-widget" name="elipsoide_4" id="tabla_elipsoide_4">
                            <option value=""/>
                            {{for elipsoide in listaElipsoide:}}
                                <option value="{{=elipsoide.nombre}}">
                                    {{=elipsoide.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_4">
                        <input class="double" name="altitud_4" id="tabla_altitud_4" type="text" value=""/>
                    </div>
                </td>
                <td>
                    <div class="Sitio_info_4">
                        <input class="double" name="gps_error_4" id="tabla_gps_error_4" type="text" value=""/>
                    </div>
                </td>
                <td class="Centrar">
                    <div class="Sitio_info_4">
                        <input class="boolean" name="hay_evidencia_4" id="tabla_hay_evidencia_4" type="checkbox" value="on"/>
                    </div>
                </td>                
                <td>
                    <div class="Sitio_info_4">
                        <input type="file" id="tabla_imagen_4" name="imagen_4"/>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
    <input type="submit" value="Enviar" class="btn FlotaIzquierda"/>
</form>

<!--<br/>
<div>
<h2>Submitted variables</h2>
{{#=BEAUTIFY(request.vars)}}
<h2>Accepted variables</h2>
{{#=BEAUTIFY(forma.vars)}}
<h2>Errors in form</h2>
{{#=BEAUTIFY(forma.errors)}}
</div>-->

<!-- <script type="text/javascript"> 
    Intento de bloquear botón back
    //window.history.forward();
    //function preventBack() { window.history.forward(); }-->
<script>
    //AJAX para llenar la combobox con los municipios asociados al estado elegido
    $('#tabla_estado').change
    (
        function()
        {
            $('#tabla_municipio').remove();

            //ajax es una función de Web2py que simplifica la función homónima de JQuery
            //recibe el URL destino, los nombres de los campos que se enviarán y el ID
            // del elemento donde se insertará la respuesta
            ajax("{{=URL('asignarMunicipios')}}", ['estado'], 'shadow_clone');
        }
    )

    //AJAX para advertir al usuario que un conglomerado ya ha sido asignado con anterioridad

/*
    $('#tabla_nombre').keyup
    (
        function()
        {
            $.ajax
            (
                {
                    type: "POST",
                    data: $('#tabla_nombre').serialize(),
                    url: "{{=URL('conglomeradoExistente')}}",
                    success: function(resultado)
                    {
                        //alert(resultado);
                        if(resultado>=1)
                        {
                            alert('Este conglomerado ya ha sido declarado');
                            $('#tabla_nombre').val("");
                        }
                        else if(resultado==-1)
                        {
                            alert('El número de conglomerado consta de 6 caracteres');
                            $('#tabla_nombre').val("");
                        }
                    }
                }
            );
        }
    );*/

    //AJAX para advertir al usuario que un conglomerado ya ha sido asignado con anterioridad

    $('#tabla_nombre').keyup
    (
        function()
        {
            $.ajax
            (
                {
                    type: "POST",
                    data: $('#tabla_nombre').serialize(),
                    url: "{{=URL('conglomeradoExistente')}}",
                    success: function(resultado)
                    {
                        //alert(resultado);
                        if(resultado>=1)
                        {
                            alert('Este conglomerado ya ha sido declarado');
                            $('#tabla_nombre').val("");
                        }
                        else if(resultado==-1)
                        {
                            alert('El número de conglomerado lleva el formato: ccccc-ppp (sin espacios). Donde los primeros 5 dígitos (ccccc) se refieren número único asociado a cada conglomerado con base en la malla proporcionada por la CONAFOR y los siguientes 3 dígitos (ppp) se refieren al número de área natural protegida (CONANP). Ejemplo: 12345-123');
                            $('#tabla_nombre').val("");
                        }
                    }
                }
            );
        }
    );

    $(document).ready
    (
        function()
        {
           /*Cuando el documento se carga, el campo de vegetación está escondido*/
           $('#tabla_uso_suelo_tipo').val("");
           $('.Vegetacion').hide();
           
           /*Cuando el documento se carga, se muestran los sitios como si existieran*/
           $('#tabla_existe_2').prop('checked', true);
           $('.Sitio_info_2').show();
           
           $('#tabla_existe_3').prop('checked', true);
           $('.Sitio_info_3').show();
           
           $('#tabla_existe_4').prop('checked', true);
           $('.Sitio_info_4').show();
        }
    )
    
    /* Cuando cambia el tipo de uso de suelo seleccionado, si el uso de suelo principal es
	'Vegetación', entonces aparecen los campos correspondientes, en caso contrario,
	se sombrean dichos campos */
	
    $('#tabla_uso_suelo_tipo').change
    (
        function()
        {
            if($(this).val()=="Vegetación")
            {
                $('.Vegetacion').fadeIn();
            }
            else
                $('.Vegetacion').fadeOut();
        }
    )

    $('.min').change
    (
        function()
        {
            if($(this).val())
            {
                if($(this).val()<0 || $(this).val()>=60)
                {
                    alert('Los minutos están en el rango de 0 a 59');
                    $(this).val("");
                }
            }
        }
    )

    $('.seg').change
    (
        function()
        {
            if($(this).val())
            {
                if($(this).val()<0 || $(this).val()>=60)
                {
                    alert('Los segundos están en el rango de 0 a 60');
                    $(this).val("");
                }
            }
        }
    )


    
    /*Cuando se cambia el valor de la casilla "existe" asociada a un sitio, se sombrean
	o reaparecen los campos correspondientes, dependiendo si el sitio existe o no.*/
	
    $('#tabla_existe_2').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Sitio_info_2').fadeIn();
            else
                $('.Sitio_info_2').fadeOut();
        }
    )

    $('#tabla_existe_3').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Sitio_info_3').fadeIn();
            else
                $('.Sitio_info_3').fadeOut();
        }
    )

    $('#tabla_existe_4').change
    (
        function()
        {
            if($(this).prop('checked'))
            {
                $('.Sitio_info_4').fadeIn();
            }
            else
                $('.Sitio_info_4').fadeOut();
        }
    )
    
    //Validando, para ello utilizamos la clase "obligatorio":
    $('form').submit
    (
        function()
        {
            flag =true;
            campos=$('.obligatorio');
            campos.each(function() 
            {
                if(!$(this).val())
                {
                     flag = false;
                }
            }
            );

            //Sin embargo, como el campo de "municipio" es generado por
            //medio de AJAX; no entra en la validación anterior. Lo tenemos que
            //validar aparte:
            if(!$('#shadow_clone').find('select:first').val())
            {
                flag = false;
                //alert('Falta llenar el municipio');
            }


            /*Validando que esté lleno el campo de "vegetacion_tipo" cuando el
            tipo de uso de suelo es vegetación"*/

            if(($('#tabla_uso_suelo_tipo').val()=="Vegetación") && !$('#tabla_vegetacion_tipo').val())
            {
                flag = false;
                //alert('Falta seleccionar un tipo de vegetación');
            }

            /*Validando que los campos correspondientes a un sitio 2,3,4 estén 
            llenos si estos existen*/

            if($('#tabla_existe_2').prop('checked'))
            {
                campos=$('.Sitio_info_2 input, .Sitio_info_2 select').not('#tabla_hay_evidencia_2');
                campos.each(function() 
                {
                    if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                );


            }

            if($('#tabla_existe_3').prop('checked'))
            {
                campos=$('.Sitio_info_3 input, .Sitio_info_3 select').not('#tabla_hay_evidencia_3');
                campos.each(function() 
                {
                    if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                );
            }

            if($('#tabla_existe_4').prop('checked'))
            {
                campos=$('.Sitio_info_4 input, .Sitio_info_4 select').not('#tabla_hay_evidencia_4');
                campos.each(function() 
                {
                    if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                );
            }

            //Validando que el nombre del conglomerado conste de 6 caracteres:
            /*
            flag_lon = true;
            if($('#tabla_nombre').val().length<6)
            {
                flag_lon = false;
            }
            */
            //alert(flag_lon);

            //Validando que la fecha esté en formato adecuado para que Web2py no tenga problemas:
            var fechaReg = /^\d{4}\-\d{2}-\d{2}$/;
            campos_fecha=$('.date');
            flag_m = true;
            campos_fecha.each(function() 
            {   
                if(!fechaReg.test($(this).val()))
                {
                    flag_m = false;
                }
            }
            );

            //Validando que el conglomerado esté en formato pedido:
            var conglomeradoReg = /^\d{5}\-\d{3}$/;
            flag_c = true;
            if(!conglomeradoReg.test($('#tabla_nombre').val()))
            {
                flag_c = false;
                alert('Error en conglomerado');
            }


            if(!flag)
            {
                alert('Faltó llenar algún campo o subir alguna imagen');
                return false;
            }
            else if(!flag_m){
                alert('El formato de fecha es aaaa-mm-dd');
                return false;
            }
            else if(!flag_c){
                alert('El número de conglomerado lleva el formato: ccccc-ppp (sin espacios). Donde los primeros 5 dígitos (ccccc) se refieren número único asociado a cada conglomerado con base en la malla proporcionada por la CONAFOR y los siguientes 3 dígitos (ppp) se refieren al número de área natural protegida (CONANP). Ejemplo: 12345-123');
                return false;
            }   

            /*else if(!flag_lon){
                alert('El número de conglomerado consta de 6 caracteres. Completar con ceros al principio si es necesario. Ejemplo: 000123');
                return false;
            }*/
        }
    )
</script>
