{{extend 'layout.html'}}
{{block head}}
	<style type="text/css">

		.Tabla .string
		{
			margin-right: 0.5cm;
			width: 2cm;
			text-align: center;
		}
		
		.Tabla .generic-widget
		{
			margin-right: 2cm;
			width: 4.4cm;
		}
		
		.Centrar
		{
			text-align: center;
		}

		#enviar
		{
			float: left;
		}

	</style>
{{end}}
{{#=response.toolbar()}}

<form action="" enctype="multipart/form-data" method="post">
	<input type="hidden" name="_formname" value="formaEpifitasHTML"/>

	<fieldset>
		<legend>
			Información de epífitas
		</legend>
		<table class="Tabla">
			<tr>
				<td>
					<label for="conglomerado_muestra_id">Conglomerado</label>
					<select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="conglomerado_muestra_id">
						<option value=""/>
						{{for conglomerado in listaConglomerado:}}
							<option value="{{=conglomerado.id}}">
								{{=conglomerado.nombre}}
							</option>
						{{pass}}
					</select>
				</td>                
			</tr>
		</table>
		<hr/>
		<table>
			<tr>
				<th>Tipo</th>
				<th>Evidencia</th>
			</tr>
			<tr>
				<td>
					<label for="helechos_observados">Helechos</label>
				</td>
				<td class="Centrar">
					<input class="boolean" name="helechos_observados" id="helechos_observados" type="checkbox" value="on"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="orquideas_observadas">Orquídeas</label>
				</td>
				<td class="Centrar">
					<input class="boolean" name="orquideas_observadas" id="orquideas_observadas" type="checkbox" value="on"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="musgos_observados">Musgos</label>
				</td>
				<td class="Centrar">
					<input class="boolean" name="musgos_observados" id="musgos_observados" type="checkbox" value="on"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="liquenes_observados">Líquenes</label>
				</td>
				<td class="Centrar">
					<input class="boolean" name="liquenes_observados" id="liquenes_observados" type="checkbox" value="on"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="cactaceas_observadas">Cactáceas</label>
				</td>
				<td class="Centrar">
					<input class="boolean" name="cactaceas_observadas" id="cactaceas_observadas" type="checkbox" value="on"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="bromeliaceas_observadas">Bromeliáceas</label>
				</td>
				<td class="Centrar">
					<input class="boolean" name="bromeliaceas_observadas" id="bromeliaceas_observadas" type="checkbox" value="on"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="otras_observadas">Otras</label>
				</td>
				<td class="Centrar">
					<input class="boolean" name="otras_observadas" id="otras_observadas" type="checkbox" value="on"/>
				</td>
				<td>
					<div class="Nombre">
						<label for="nombre_otras">Nombre</label>
					</div>
				</td>
				<td>
					<div class="Nombre">
						<input class="string" name="nombre_otras" id="nombre_otras" type="text" value=""/>
					</div>
				</td>
			</tr>
		</table>
	<hr/>
	</fieldset>
	<input type="submit" value="Enviar" id ="enviar" class="btn"/>
</form>

{{#=BEAUTIFY(request.vars)}}
<script>

	//////////////////////////////////////////
	// AJAX para evitar que se envíe la información de epífitas
	// correspondiente a un conglomerado más de una vez.
	//////////////////////////////////////////

	$('#conglomerado_muestra_id').change(
		function(){
			$.ajax
			(
			{
				type: "POST",
				data: $('#conglomerado_muestra_id').serialize(),
				url: "{{=URL('informacionEpifitasExistente')}}",
				success: function(resultado)
				{
					//alert(resultado);
					if(resultado>0)
					{
						alert('La información de epífitas ya ha sido insertada para el conglomerado seleccionado');
						$('#conglomerado_muestra_id').val("");
					}
				}
			}
			);
		}
		);

	//////////////////////////////////////////
	// Este código se ejecuta en cuanto el html termina de llegar al navegador:
	//////////////////////////////////////////

	$(document).ready
	(
		function()
		{
		   /* Cuando el documento se carga, el campo Nombre está escondido */
		   $('#otras_observadas').prop('checked', false);
		   $('.Nombre').hide();
		}
	)

	//////////////////////////////////////////
	// Funcionamiento de la vista
	//////////////////////////////////////////
	
	/* Cuando se selecciona la opción "Otras" aparece el campo Nombre */
	
	$('#otras_observadas').change
	(
		function()
		{
			if($(this).prop('checked'))
			{
				$('.Nombre').fadeIn();
			}
			else
				$('.Nombre').fadeOut();
		}
	)

	//////////////////////////////////////////
	// Validaciones a la hora de enviar la forma
	//////////////////////////////////////////

	$('form').submit
	(
		 function()
		 {

			// Validando los campos obligatorios

			flag = true;
			campos = $('.obligatorio');
			campos.each(
				function() 
				{
					if(!$(this).val())
					{
						flag = false;
					}
				}
			);

			/* Validando que se escriba el nombre de la epífita si la opción "Otras"
			es seleccionada */

			faltanNombres = false;

			if($('#otras_observadas').prop('checked'))
			{
				if(!$(nombre_otras).val())
				{
					//alert('Favor de introducir el nombre de las epífitas observadas');
					flag = false;
					faltanNombres = true;
				}
			}

			// Juntando todas las validaciones:

			if(!flag)
			{
				if(faltanNombres)
					alert('Favor de escribir el nombre de la epífita que no se encuentra en la lista');
				else
					alert('Faltó llenar algún campo');
				return false;
			}
		}
	)
	
</script>
