{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

    .Tabla .generic-widget
    {
        margin-right: 2cm;
        width: 4.4cm;
    }

    .TablaCONANP .double
    {
        margin-left: 0.25cm;
        margin-right: 0.25cm;
        width: 2.5cm;
        text-align: center;
    }

    .TablaCONANP .Cuadrante
    {
        /*Que la frase Cuadrante i quede en un solo renglón*/
        white-space: nowrap;
    }

    .TablaCONANP .string
    {
        /*Nombres comunes y científicos*/
        margin-left: 0.25cm;
        margin-right: 0.25cm;
        width: 4cm;
        text-align: center;
    }
        
    .FlotaIzquierda
    {
        float: left;
    }

    .Centrar
    {
        text-align: center;
    }

</style>
{{end}}
{{#=response.toolbar()}}

<form action="" enctype="multipart/form-data" method="post">
    <input type="hidden" name="_formname" value="formaArbolHTML"/>
    <fieldset>
        <legend>
            Información de árboles grandes
        </legend>
        <table class="Tabla">
            <tr>
                <td>
                    <div>
                        <label for="tabla_conglomerado_muestra_id">Conglomerado</label>
                    </div>
                    <div>
                        <!--este campo sólo sirve para encontrar
                        con AJAX los sitios existentes asociados al conglomerado
                        elegido, al enviar la forma al controlador, se utilizará
                        para guardar el registro de la cámara, únicamente el id
                        del sitio (de la dropdown generada mediante AJAX)-->
                        <select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
                            <option value=""/>
                            {{for conglomerado in listaConglomerado:}}
                                <option value="{{=conglomerado.id}}">
                                    {{=conglomerado.nombre}}
                                </option>
                            {{pass}}
                        </select>
                    </div>
                </td>                
                <td>
                    <div>
                        <label for="tabla_sitio_muestra_id">Sitio</label>
                    </div>
                    <!-- El ID es para cambiar la lista de sitios asociados a un conglomerado dinámicamente, utilizando AJAX-->
                    <div id="shadow_clone">
                        <select class="generic-widget" name="sitio_muestra_id" id="tabla_sitio_muestra_id">
                            <option value=""/>
                        </select>
                    </div>
                </td>
            </tr>
        </table>

        <hr/>

        <table class="TablaCONANP">
            <tr>
                <th></th>
                <th colspan="2" class="Centrar"># Individuo</th>
                <th class="Centrar">Distancia (m)</th>
                <th class="Centrar">Azimut (º)</th>
                <th class="Centrar">Nombre<br/>común</th>
                <th class="Centrar">Nombre<br/>científico</th>
                <th class="Centrar">Altura (m)</th>
                <th class="Centrar">Diámetro<br/> normal (cm)</th>
                <th class="Centrar">Diámetro<br/> copa (m)</th>
            </tr>
        

            {{for i in range(8):}}              
                <!-- Nombres auxiliares para la vista -->
                {{individuo_i = str(i+1)}}
                {{Arbol_i = 'Arbol_' + str(i+1)}}
                {{cuadrante_i = ['Cuadrante 1','Cuadrante 1','Cuadrante 2','Cuadrante 2','Cuadrante 3','Cuadrante 3','Cuadrante 4','Cuadrante 4'][i]}}

                <!-- Creamos los nombres de los campos y las tablas -->
                {{existe_i = 'existe_' + str(i+1)}}
                {{tabla_existe_i = 'tabla_' + existe_i}}

                {{distancia_i = 'distancia_' + str(i+1)}}
                {{tabla_distancia_i = 'tabla_' + distancia_i}}
                
                {{azimut_i = 'azimut_' + str(i+1)}}
                {{tabla_azimut_i = 'tabla_' + azimut_i}}

                {{nombre_comun_i = 'nombre_comun_' + str(i+1)}}
                {{tabla_nombre_comun_i = 'tabla_' + nombre_comun_i}}

                {{nombre_cientifico_i = 'nombre_cientifico_' + str(i+1)}}
                {{tabla_nombre_cientifico_i = 'tabla_' + nombre_cientifico_i}}

                {{altura_i = 'altura_' + str(i+1)}}
                {{tabla_altura_i = 'tabla_' + altura_i}}

                {{diametro_normal_i = 'diametro_normal_' + str(i+1)}}
                {{tabla_diametro_normal_i = 'tabla_' + diametro_normal_i}}


                {{diametro_copa_i = 'diametro_copa_' + str(i+1)}}
                {{tabla_diametro_copa_i = 'tabla_' + diametro_copa_i}}

                <tr>
                    <!-- Campo cuadrante solo se escribe una vez -->
                    {{if i % 2 == 0: }}
                        <td rowspan="2" class="Cuadrante">
                            <b>{{=cuadrante_i}}</b>
                        </td>
                    {{pass}}
                    <td class="Centrar">
                            <input class="boolean" name="{{=existe_i}}" id="{{=tabla_existe_i}}" type="checkbox" value="on"/>
                    </td>
                    <td>
                        {{=individuo_i}}
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="double" name="{{=distancia_i}}" id="{{=tabla_distancia_i}}" type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="double" name="{{=azimut_i}}" id="{{=tabla_azimut_i}}" type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="string" name="{{=nombre_comun_i}}" id="{{=tabla_nombre_comun_i}}" type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="string" name="{{=nombre_cientifico_i}}" id="{{=tabla_nombre_cientifico_i}}" type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="double" name="{{=altura_i}}" id="{{=tabla_altura_i}}" type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="double" name="{{=diametro_normal_i}}" id="{{=tabla_diametro_normal_i}}" type="text" value=""/>
                        </div>
                    </td>
                    <td>
                        <div class="{{=Arbol_i}}">
                            <input class="double" name="{{=diametro_copa_i}}" id="{{=tabla_diametro_copa_i}}" type="text" value=""/>
                        </div>
                    </td>
                </tr>
            {{pass}}
        </table>
        <hr/>
    </fieldset>
    <input type="submit" value="Enviar" class="btn FlotaIzquierda"/>
</form>

{{#=BEAUTIFY(request.vars)}}

<script>

    $(document).ready
    (
        function()
        {
           /*Cuando el documento se carga, los campos de los árboles están activos*/
           $('#tabla_existe_1').prop('checked', true);
           $('.Arbol_1').show();
           
           $('#tabla_existe_2').prop('checked', true);
           $('.Arbol_2').show();

           $('#tabla_existe_3').prop('checked', true);
           $('.Arbol_3').show();
           
           $('#tabla_existe_4').prop('checked', true);
           $('.Arbol_4').show();

           $('#tabla_existe_5').prop('checked', true);
           $('.Arbol_5').show();
           
           $('#tabla_existe_6').prop('checked', true);
           $('.Arbol_6').show();

           $('#tabla_existe_7').prop('checked', true);
           $('.Arbol_7').show();
           
           $('#tabla_existe_8').prop('checked', true);
           $('.Arbol_8').show();
        }
    )
    
    /*Cuando se cambia el valor de la casilla "existe" asociada a un cuadrante, se sombrean
    o reaparecen los campos correspondientes, dependiendo si el árbol existe o no.*/
    
    $('#tabla_existe_1').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_1').fadeIn();
            else
                $('.Arbol_1').fadeOut();
        }
    )
    $('#tabla_existe_2').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_2').fadeIn();
            else
                $('.Arbol_2').fadeOut();
        }
    )
    $('#tabla_existe_3').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_3').fadeIn();
            else
                $('.Arbol_3').fadeOut();
        }
    )
    $('#tabla_existe_4').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_4').fadeIn();
            else
                $('.Arbol_4').fadeOut();
        }
    )
    $('#tabla_existe_5').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_5').fadeIn();
            else
                $('.Arbol_5').fadeOut();
        }
    )
    $('#tabla_existe_6').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_6').fadeIn();
            else
                $('.Arbol_6').fadeOut();
        }
    )
    $('#tabla_existe_7').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_7').fadeIn();
            else
                $('.Arbol_7').fadeOut();
        }
    )
    $('#tabla_existe_8').change
    (
        function()
        {
            if($(this).prop('checked'))
                $('.Arbol_8').fadeIn();
            else
                $('.Arbol_8').fadeOut();
        }
    )


    //AJAX para llenar la combobox con los sitios existentes al elegir el conglomerado
    $('#tabla_conglomerado_muestra_id').change
    (
        function()
        {
            $('#tabla_sitio_muestra_id').remove();

            //ajax es una función de Web2py que simplifica la función homónima de JQuery
            //recibe el URL destino, los nombres de los campos que se enviarán y el ID
            // del elemento donde se insertará la respuesta
            ajax("{{=URL('asignarSitios')}}", ['conglomerado_muestra_id'], 'shadow_clone');
        }
    )

    //AJAX para evitar que se envíe la información de los árboles correspondientes
    //a un sitio más de una vez:
    $('#shadow_clone').on('change', '#tabla_sitio_muestra_id', function (){
        $.ajax
        (
        {
            type: "POST",
            data: $('#tabla_sitio_muestra_id').serialize(),
            url: "{{=URL('sitiosArboladoExistentes')}}",
                success: function(resultado)
                {
                        //alert(resultado);
                        if(resultado>=1)
                        {
                            alert('Los datos correspondientes a este sitio ya han sido declarados');
                            $('#tabla_sitio_muestra_id').val("");
                        }
                    }
                }
                );
        }
        );

    /* Los campos de clase double no deben contener comas*/
    $('.double').change
    (
        function()
        {
            var comaReg = /,/;
            if(comaReg.test($(this).val()))
            {
                alert('Favor de utilizar punto decimal, no coma. Ejemplo: 9.34');
                $(this).val("");
            }
        }
    )

    /* Validando los valores del azimut (a) para cada uno de los 4 cuadrantes:
    - 1º: 0º <= a <= 90º (árboles 1 y 2)
    - 2º: 90º <= a <= 180º (árboles 3 y 4)
    - 3º 180º <= a <= 270º (árboles 5 y 6)
    - 4º 270º <= a <= 360º (árboles 7 y 8)*/

    /* la siguiente función es para definir un event trigger para cada cuadrante,
    cuando se cambie el valor del azimut del arbol i, va a validar que esté en
    el rango adecuado*/

    function listener(cuadrante, min_azimut, max_azimut){
        return function(){
            if($(this).val()){
                if($(this).val() < min_azimut || $(this).val() > max_azimut)
                {
                    alert('El azimut correspondiente al cuadrante ' + cuadrante +
                        ' debe estar entre ' + min_azimut + ' y ' + max_azimut + ' grados.');
                    $(this).val("");
                }
            }
        }
    }

    for(i = 1; i <= 8; i++){
        // dependiendo del número de árbol, se define el cuadrante del mismo
        switch(i) {
            case 1:
            case 2:
                min_azimut = 0;
                max_azimut = 90;
                cuadrante = 1;
            break;
            case 3:
            case 4:
                min_azimut = 90;
                max_azimut = 180;
                cuadrante = 2;
            break;
            case 5:
            case 6:
                min_azimut = 180;
                max_azimut = 270;
                cuadrante = 3;
            break;
            case 7:
            case 8:
                min_azimut = 270;
                max_azimut = 360;
                cuadrante = 4;
            break;
        }

        $('#tabla_azimut_' + i).change(listener(cuadrante, min_azimut, max_azimut));
    }

    //Validando, para ello utilizamos la clase "obligatorio":
    $('form').submit
    (
        function()
        {
            flag =true;
            // flag faltanNombres se ocupa para validar que escriban nombre común y/o nombre científico
            faltanNombres = false;
            campos=$('.obligatorio');
            campos.each(function() 
            {
                if(!$(this).val())
                {
                    flag = false;
                }
            }
        );

            /*Validando que los campos correspondientes a un árbol estén 
            llenos si estos existen*/
            if($('#tabla_existe_1').prop('checked'))
            {
                campos=$('.Arbol_1 input, .Arbol_1 select');
                campos.each(function() 
                {
                    // validar que escriban nombre común y/o nombre científico
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_1')
                    var c = $('#tabla_nombre_cientifico_1')
                    // si "a" es el campo es correspondiente a nombre común o a 
                    // nombre científico se revisa que al menos uno de estos esté lleno
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    // si es algún otro campo se valida que no este vacío
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_2').prop('checked'))
            {
                campos=$('.Arbol_2 input, .Arbol_2 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_2')
                    var c = $('#tabla_nombre_cientifico_2')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_3').prop('checked'))
            {
                campos=$('.Arbol_3 input, .Arbol_3 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_3')
                    var c = $('#tabla_nombre_cientifico_3')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_4').prop('checked'))
            {
                campos=$('.Arbol_4 input, .Arbol_4 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_4')
                    var c = $('#tabla_nombre_cientifico_4')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_5').prop('checked'))
            {
                campos=$('.Arbol_5 input, .Arbol_5 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_5')
                    var c = $('#tabla_nombre_cientifico_5')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_6').prop('checked'))
            {
                campos=$('.Arbol_6 input, .Arbol_6 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_6')
                    var c = $('#tabla_nombre_cientifico_6')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_7').prop('checked'))
            {
                campos=$('.Arbol_7 input, .Arbol_7 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_7')
                    var c = $('#tabla_nombre_cientifico_7')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_8').prop('checked'))
            {
                campos=$('.Arbol_8 input, .Arbol_8 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_8')
                    var c = $('#tabla_nombre_cientifico_8')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_9').prop('checked'))
            {
                campos=$('.Arbol_9 input, .Arbol_9 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_9')
                    var c = $('#tabla_nombre_cientifico_9')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            if($('#tabla_existe_10').prop('checked'))
            {
                campos=$('.Arbol_10 input, .Arbol_10 select');
                campos.each(function() 
                {
                    var a = $(this)
                    var b = $('#tabla_nombre_comun_10')
                    var c = $('#tabla_nombre_cientifico_10')
                    if(a.is(b) || a.is(c)){
                        if(!b.val() && !c.val())
                        {
                            flag = false;
                            faltanNombres = true;
                //alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                        }
                    }
                    else if(!$(this).val())
                    {
                        //alert('this');
                        flag = false;
                    }
                }
                )
            }
            //Sin embargo, como el campo de "sitio_muestra_id" es generado por
            //medio de AJAX; no entra en la validación anterior. Lo tenemos que
            //validar aparte:
            if(!$('#shadow_clone').find('select:first').val())
            {
                flag = false;
            //    alert('Faltó llenar el sitio');
            }
            if(!flag)
            {
                if(faltanNombres)
                    alert('Favor de escribir al menos un nombre (ya sea común ó científico)');
                else
                    alert('Faltó llenar algún campo');
                return false;
            }

        }

    )   
</script>
