{{extend 'layout.html'}}
{{block head}}
<style type="text/css">
	.Tabla
    {
        table-layout: fixed;
        width: 80%;
    }

    .Especies .generic-widget
    {
    	margin-right: 1cm;
        width: 4.4cm;
    }
    .Especies .integer, .Especies .double, .Especies .string, .Especies .date, .Especies .time
    {
    	margin-right: 1cm;
        width: 4cm;
    }
    
    .Centrar
    {
        text-align: center;
    }
    .CentrarV
    {
 		/* padding 0 10px;
  		font-size:0.8em;
  		**line-height: 0.8em;**
  		float:right;
  		height:100%;
  		display:table; */
  		vertical-align:middle;
	}    
    #enviar
    {
        float: left;
    }
</style>
{{end}}

<form action="" enctype="multipart/form-data" method="post">
	<fieldset>
		<legend>
		Transecto especies invasoras
		</legend>
		<input type="hidden"  name="_formname" value="formaTransectoHTML"/>
		<table class="Especies" class="Tabla">
			<tr>
				<td>
					<div>
						<label for="tabla_conglomerado_muestra_id">Conglomerado</label>
					</div>
					<div>
						<select class="generic-widget" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
							<option value=""/>
							<option value="1">Gato</option>
						</select>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_transecto_numero">Transecto</label>
					</div>
					<div>
						<select class="generic-widget" name="transecto_numero" id="tabla_transecto_numero">
							<option value=""/>
							<option value="1">Café</option>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_tecnico">Técnico</label>
					</div>
					<div>
						<input class="string" name="tecnico" id="tabla_tecnico" type="text" value=""/>
					</div>
				</td>
			</tr>
		<tr>
			<td>
				<div>
					<label for="tabla_fecha">Fecha</label>
				</div>
				<div>
					<input class="date" name="fecha" id="tabla_fecha" type="text" value=""/>
				</div>
			</td>
			<td>
				<div>
					<label for="tabla_hora_inicio">Hora inicio</label>
				</div>
				<div>
					<input class="time" name="hora_inicio" id="tabla_hora_inicio" type="text" value=""/>
				</div>
			</td>
			<td>
				<div>
					<label for="tabla_hora_termino">Hora término</label>
				</div>
				<div>
					<input class="time" name="hora_termino" id="tabla_hora_termino" type="text" value=""/>
				</div>
			</td>
		</tr>
	</table>
		<div>
    		<label for="tabla_comentario">Observaciones</label>
    	</div>
    	<div>
		    <textarea class="text" cols="40" id="tabla_comentario" name="comentario" rows="10">
			</textarea>
    	</div>
    </fieldset>
	<input type="submit" value="Enviar" class="btn" id="enviar"/>
</form>