{{extend 'layout.html'}}

<form action="" enctype="multipart/form-data" method="post">
	<fieldset>
		<legend>
		Especies invasoras
		</legend>
		<input type="hidden"  name="_formname" value="formaEspecieHTML"/>
		<table class="Especies" class="Tabla">
			<tr>
				<td>
					<div>
						<label for="tabla_conglomerado_muestra_id">Conglomerado</label>
					</div>
					<div>
						<select class="generic-widget" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
							<option value=""/>
							<option value="1">Gato</option>
						</select>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_transecto_numero">Transecto</label>
					</div>
					<div>
						<select class="generic-widget" name="transecto_numero" id="tabla_transecto_numero">
							<option value=""/>
							<option value="1">Café</option>
					</div>
				</td>
				<!--
				<td>
				</td>
				-->
			</tr>
			<tr>
			<!--
				<td rowspan="2" class="CentrarV">
				
					<div>
						<label for="tabla_conabio_lista">Lista CONABIO especies</label>
					</div>
					<div>
						<select class="generic-widget" name="conabio_lista" id="tabla_conabio_lista">
							<option value=""/>
							<option value="1">Arundo donax<Carrizo gigante>
							<option value="2">Axis axis<Venado axis>
							<option value="3">Bassia scoparia<Rodadora>
							<option value="4">Bromus madritensis">Bromo>
							<option value="5">Cactoblastis cactorum<Palomilla de nopal>
							<option value="6">Carpobrotus sp (C. edulis)<Higo marino>
							<option value="7">Cyperus papyrus (ANP)<>
							<option value="8">Eichhornia crassipes<Lirio acuático>
							<option value="9">Hedera helix<Hiedra>
							<option value="10">Lepidium draba /Cardaria draba<Flor bábol, capellanes>
							<option value="11">Melinis minutiflora<Paja rosada, pasto morado, Zacate colorado>
							<option value="12">Melinis repens<Paja rosada, pasto morado, Zacate colorado>
							<option value="13">Mesembryanthemum crystallinum<Vidrillo>
							<option value="14">Myiopsitta monachus<Perico monje>
							<option value="15">Myocastor coypus<Coipu>
							<option value="16">Oeceoclades maculata<Orquidea monje>
							<option value="17">Pennisetum clandestinum<Kikuyo, Kuyuyú, tapete, colchoncillo>
							<option value="18">Pueraria sp. (montana lobata o phaseoloides<Kudzu>
							<option value="19">Rottboellia cochinchinensis<Caminadora>
							<option value="20">Salsola sp. (vermiculata o tragus)<Rodadora>
							<option value="21">Stizlobium prurienes<Picapica>
							<option value="22">Sus scrofa<Cerdo europeo>
							<option value="23">Tamarix sp.<Pino salado, cedro salado, tamarisco>

							<option value="24">Otros</option>
						</select>
					</div>
				</td>-->		
				<!--<td>
					<div>
						<label for="tabla_hay_nombre_comun"></label>
					</div>
					<div>
						<input class="boolean" name="hay_nombre_comun" id="tabla_hay_nombre_comun" type="checkbox" value="on"/>
					</div>
				</td>-->
				<td class="Nombre">
					<div>
						<div style="float:left;padding-right:10px;">
							<input class="boolean" name="hay_nombre_comun" id="tabla_hay_nombre_comun" type="checkbox" value="on"/>
						</div>
						<div style="float:center;">
							<label for="tabla_comun">Nombre común</label>
						</div>
						<div style="float:left;">
							<input class="string" name="nombre_comun" id="tabla_nombre_comun" type="text" value=""/>
						</div>
					</div>
				</td>
				<td rowspan="2" class="CentrarV">
					<div>
						<label for="tabla_numero_individuos">Número de individuos</label>
					</div>
					<div>
						<input class="integer" name="numero_individuos" id="tabla_numero_individuos" type="text">
					</div>
				</td>
			</tr>
			<tr>
				<td class="Nombre">
					<div>
						<div style="float:left;padding-right:10px;">
							<input class="boolean" name="hay_nombre_cientifico" id="tabla_hay_nombre_cientifico" type="checkbox" value="on"/>
						</div>
						<div div style="float:center;">
							<label for="tabla_cientifico">Nombre científico</label>
						</div>
						<div style="float:left;">
							<input class="string" name="nombre_cientifico" id="tabla_nombre_cientifico" type="text" value=""/>
						</div>
					</div>
				</td>
				<td>
				</td>
				<!--<td>
				</td>-->
			</tr>
		</table>
		<div>
			<label for="tabla_archivos_invasora">Subir imágenes</label>
		</div>
		<div>
			<input type="file" id="tabla_archivos_invasora" name="archivos_invasora" multiple/>
		</div>

	</fieldset>
	<input type="submit" value="Enviar" class="btn" id="enviar"/>
</form>
<!--
<script>
    $(document).ready
    (
        function()
        {
           /*Cuando el documento se carga, el campo de vegetación está escondido*/
           $('#tabla_conabio_lista').val("");
           $('.Nombre').hide();
        }
    )

    $('#tabla_conabio_lista').change
    (
        function()
        {
            if($(this).find(":selected").text()=="Otros")
                $('.Nombre').fadeIn();
            else
                $('.Nombre').fadeOut();
        }
    )
</script>
-->
