{{extend 'layout.html'}}
{{block head}}
<style type="text/css">

	.Tabla .generic-widget
	{
		margin-right: 2cm;
		width: 4.4cm;
	}
	.Tabla .integer, .Tabla .double, .Tabla .string, .Tabla .date, .Tabla .time
	{
		margin-right: 2cm;
		width: 4cm;
	}

	.Centrar
	{
		text-align: center;
	}

	#enviar
	{
		float: left;
	}
</style>
{{end}}

<form action="" enctype="multipart/form-data" method="post" id="forma">
	<fieldset>
		<legend>
			Transecto especies invasoras
		</legend>
		<input type="hidden"  name="_formname" value="formaTransectoHTML"/>
		<table class="Tabla">
			<tr>
				<td>
					<div>
						<label for="tabla_conglomerado_muestra_id">Conglomerado</label>
					</div>
					<div>
						<select class="generic-widget obligatorio" name="conglomerado_muestra_id" id="tabla_conglomerado_muestra_id">
							<option value=""/>
							{{for conglomerado in listaConglomerado:}}
							<option value="{{=conglomerado.id}}">
								{{=conglomerado.nombre}}
							</option>
							{{pass}}
						</select>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_transecto_numero">Transecto</label>
					</div>
					<div>
						<select class="generic-widget obligatorio" name="transecto_numero" id="tabla_transecto_numero">
							<option value=""/>
							{{for transectoNumero in listaNumeroTransecto:}}
							<option value="{{=transectoNumero.nombre}}">
								{{=transectoNumero.nombre}}
							</option>
							{{pass}}
						</select>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_tecnico">Técnico</label>
					</div>
					<div>
						<input class="string obligatorio" name="tecnico" id="tabla_tecnico" type="text" value=""/>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<label for="tabla_fecha">Fecha</label>
					</div>
					<div>
						<input class="date obligatorio" name="fecha" id="tabla_fecha" type="text" value=""/>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_hora_inicio">Hora inicio (24 horas)</label>
					</div>
					<div>
						<input class="time obligatorio" name="hora_inicio" id="tabla_hora_inicio" type="text" value=""/>
					</div>
				</td>
				<td>
					<div>
						<label for="tabla_hora_termino">Hora término (24 horas)</label>
					</div>
					<div>
						<input class="time obligatorio" name="hora_termino" id="tabla_hora_termino" type="text" value=""/>
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<label for="tabla_comentario">Observaciones</label>
		<textarea class="text" cols="40" id="tabla_comentario" name="comentario" rows="5"></textarea>
	</fieldset>
	<input type="submit" value="Enviar" class="btn" id="enviar"/>
</form>
<script>

	//AJAX para advertir al usuario que un transecto ya ha sido asignado con anterioridad
	$('#tabla_transecto_numero').change
	(
		function()
		{
			$.ajax
			(
			{
				type: "POST",
				data: $('#forma').serialize(),
				url: "{{=URL('transectoExistente')}}",
				success: function(resultado)
				{
        				//alert(resultado);
        				if(resultado>=1)
        				{
        					alert('Este transecto ya ha sido declarado');
        					$('#tabla_transecto_numero').val("");
        				}
        			}
        		}
        		);
		}
		);


	//Validando, para ello utilizamos la clase "obligatorio":
	$('form').submit
	(
		function()
		{
			flag =true;
			campos=$('.obligatorio');
			campos.each(function() 
			{
				if(!$(this).val())
				{
					flag = false;
				}
			}
			);

            //Validando que la fecha esté en formato adecuado para que Web2py no tenga problemas:
			var fechaReg = /^\d{4}\-\d{2}-\d{2}$/;
			campos_fecha=$('.date');
			flag_m = true;
			campos_fecha.each(function() 
			{
				if(!fechaReg.test($(this).val()))
				{
					flag_m = false;
				}
			}
			);


			if(!flag)
			{
				alert('Faltó llenar algún campo');
				return false;
			}
			else if(!flag_m){
				alert('El formato de fecha es aaaa-mm-dd');
				return false;
			}
			//Validando que la hora de inicio sea menor que la de término
            else
            {
                var hora_inicio = $('#tabla_hora_inicio').val();
                var hora_termino = $('#tabla_hora_termino').val();

                //Usando el órden lexicográfico natural de strings para comparar fechas:
				if(hora_inicio>hora_termino)
                {
                    alert('La hora de inicio debe ser menor a la hora de término');
                    return false;
                }
            }
		}
		)
	</script>